body{
	font:12px/1.5 arial,helvetica,sans-serif;
	text-align:center;
	color:#333;
	background:#FFF
}
#aside{
	width:190px
}
.winnow-list{
	background:#fafafa
}
.winnow-item{
	border-left:1px solid #fdfdfd;
	border-right:1px solid #fdfdfd;
	border-top:1px solid #f0f0f0;
	margin-top:-1px;
	text-align:center
}
.winnow-item-inner{
	width:160px;
	margin:0 auto;
	padding:12px 0
}
.winnow-item-inner .photo{
	position:relative;
	margin-bottom:9px;
	width:160px;
	height:117px;
	overflow:hidden;
	line-height:120px;
	text-align:center;
	vertical-align:middle;
	white-space:nowrap;
	word-break:keep-all
}
.winnow-item-inner .photo .img{
	width:158px;
	height:115px;
	line-height:115px;
	display:table-cell;
	overflow:hidden;
	text-align:center;
	vertical-align:middle
}
.winnow-item-inner .photo img{
	font-size:0;
	vertical-align:middle;
	*display:inline-block
}
.winnow-item-inner .photo a{
	display:block;
	width:158px;
	height:115px;
	background-color:#fff;
	border:solid #dbdbdb 1px
}
.winnow-item-inner .photo .tit-bg,.winnow-item-inner .photo .tit{
	height:24px;
	width:160px;
	position:absolute;
	left:0;
	bottom:-37px;
	cursor:pointer
}
.winnow-item-inner .photo .tit{
	width:148px;
	margin:0 6px;
	color:#fff;
	line-height:24px;
	z-index:2
}
.winnow-item-inner .photo .tit-bg{
	background:#000;
	z-index:1;
	filter:alpha(opacity=50);
	-moz-opacity:.5;
	-khtml-opacity:.5;
	opacity:.5
}
.winnow-item-inner .photo a:hover{
	text-decoration:none
}
.winnow-item-inner h4,.winnow-item-inner p{
	font-size:14px;
	font-weight:normal
}
.lifementor{
	padding:0 12px 10px
}
.lifementor h4{
	margin-right:5px;
	margin-top:7px;
	color:#db3737;
	height:18px;
	line-height:18px
}
.lifementor ul{
	margin-top:5px
}
.lifementor ul li{
	display:block;
	height:32px;
	overflow:hidden
}
.lifementor ul li a{
	display:block;
	height:26px;
	line-height:26px;
	text-indent:9px;
	border:1px solid #e7e7e7;
	color:#666
}
.lifementor ul li a:hover{
	border:1px solid #93c2f1;
	text-decoration:none;
	background:#f7fbff;
	color:#666
}
.lifementor ul li a .icon-tri{
	float:right;
	margin-top:9px;
	overflow:hidden;
	width:0;
	height:0;
	font-size:0;
	border:5px solid #fff;
	border-left-color:#e7e7e7
}
.lifementor ul li a:hover .icon-tri{
	border:5px solid #f7fbff;
	border-left-color:#d7e7f7
}
.tip-list{
	padding-left:3px;
	margin-top:-1px
}
.tip-list li{
	border-top:1px dashed #e5e5e5;
	width:162px;
	padding:0 12px;
	overflow:hidden;
	white-space:nowrap;
	word-break:keep-all;
	text-overflow:ellipsis;
	-o-text-overflow:ellipsis;
	height:27px;
	line-height:27px
}
.tip-list li a,.tip-list li a:hover{
	color:#333;
	display:block;
	overflow:hidden;
	width:184px
}
.tip-list li.last{
	border:0;
	text-align:center;
	font-family:SimSun
}
.tip-list li.last a{
	color:#e2320c
}
.bb-t1 #aside{
	float:right;
	width:210px
}
.bb-t1 #main{
	float:left;
	margin-right:-210px
}
.bb-t1 #main .inner{
	margin-right:105px
}
.uimg{
	display:table-cell;
	*display:block;
	vertical-align:middle;
	overflow:hidden;
	text-align:center
}
.uimg .vam{
	display:none;
	*display:inline;
	*zoom:1;
	width:0;
	height:100%;
	vertical-align:middle;
	font:0/0 Arial
}
.fake-checkbox{
	display:block;
	height:22px;
	line-height:22px;
	padding-left:17px;
	background:url(../images/tmp_ico_filter.png) 0 4px no-repeat;
	*background-position:0 3px;
	white-space:nowrap;
	cursor:pointer
}
.fake-checkbox-selected{
	background-position:0 -18px;
	*background-position:0 -19px
}
#bd{
	z-index:0
}
#wrapper{
	text-align:left;
	width:960px;
	margin:10px auto;
	background:#fff
}
.rz-qy,.rz-gr,.bz-zl,.bz-aq,.bz-pf{
	background:url(../images/spr_icons.png) 0 0 no-repeat;
	width:18px;
	height:16px;
	overflow:hidden;
	text-indent:-9999px;
	display:block
}
.rz-gr{
	background-position:0 -18px
}
.rz-qy{
	background-position:0 -36px
}
.bz-zl{
	background-position:0 -54px
}
.bz-aq{
	background-position:0 -73px
}
.bz-pf{
	background-position:0 -149px
}
.global-page a,.global-page span{
	*zoom:1;
	border:1px solid #d9dadb;
	color:#06c;
	padding:0 8px
}
.global-page a:hover{
	border:1px solid #eb4b4b;
	background:#fff5f5;
	color:#f22424
}
.global-page span{
	color:#bfbfbf
}
.global-page span.global-page-break{
	border:0;
	color:#04d;
	background:0
}
.global-page span.select{
	background:#e61717;
	border:1px solid #d91616;
	font-weight:bold;
	color:#fff
}
.global-page .global-page-next,.global-page .global-page-previous{
	font-family:tahoma
}
.global-page .global-page-next{
	*height:22px;
	_height:auto;
	_padding-top:0;
	overflow:hidden
}
.global-page span.global-page-next{
	background:0;
	color:#bfbfbf
}
.global-page input{
	width:24px;
	text-align:center;
	vertical-align:middle
}
.global-page button{
	font-size:12px;
	vertical-align:middle
}
.mini-global-page{
	font-size:12px;
	color:#999;
	font-family:tahoma;
	height:18px;
	line-height:18px
}
.mini-global-page .mini-page-num{
	margin-right:10px
}
.mini-global-page .mini-page-num strong{
	color:#db3737
}
.mini-global-page a{
	color:#06c
}
.mini-global-page a.mini-page-pre,.mini-global-page span.mini-page-pre,.mini-global-page a.mini-page-nex,.mini-global-page span.mini-page-nex{
	background:url(../images/spr_but_bg.png) no-repeat
}
.mini-global-page span.mini-page-pre{
	background-position:0 -162px;
	padding-left:10px;
	margin-right:6px
}
.mini-global-page a.mini-page-nex{
	background-position:-12px -162px;
	padding-right:10px
}
.mini-global-page a.mini-page-pre{
	background-position:0 -175px;
	padding-left:10px
}
.mini-global-page span.mini-page-nex{
	background-position:-12px -175px;
	padding-right:10px
}
#crumb{
	width:727px;
	height:32px;
	line-height:32px;
	color:#666;
	border:1px solid #d6d6d6;
	background:url(../images/spr_nav_bg.png) 0 0 repeat-x;
	padding:0 11px 0 0
}
#crumb .crumb-nav{
	float:left
}
#crumb .result-stat{
	float:right
}
#crumb .num,#crumb .nam{
	margin:0 8px
}
#crumb .num{
	color:#db2c2c;
	font-weight:bold
}
#crumb .nam{
	color:#333
}
#crumb .crumb-nav li{
	display:inline;
	float:left;
	background:url(../images/arrow.png) left center no-repeat;
	padding-left:18px;
	margin-left:10px;
	position:relative
}
#crumb .crumb-nav li.first{
	padding-left:0;
	background:0;
	margin-right:-10px;
	margin-left:0
}
#crumb .crumb-nav strong{
	font-weight:normal
}
#crumb .crumb-nav li a,#crumb .crumb-nav li a:link,#crumb .crumb-nav li a:visited,#crumb .crumb-nav li a:hover{
	color:#333;
	display:inline-block;
	word-wrap:break-word
}
#crumb .local-cate{
	display:inline;
	width:94px;
	height:32px;
	line-height:32px;
	color:#000;
	float:left;
	padding-left:10px
}
#crumb .local-cate .more{
	width:0;
	height:0;
	border:4px solid #f9f9f9;
	border-top-color:#999;
	border-bottom-width:0;
	display:inline-block;
	position:absolute;
	top:14px;
	*top:12px;
	right:10px;
	overflow:hidden
}
#crumb .selected{
	position:relative;
	z-index:200
}
#crumb .selected .local-cate{
	position:relative;
	z-index:202;
	width:91px;
	height:30px;
	line-height:30px;
	padding-left:9px;
	background:#fff;
	border:2px solid #b6d5f4;
	border-bottom:0;
	position:relative;
	top:-1px;
	left:-1px;
	text-decoration:none
}
#crumb .selected .local-cate{
	position:relative;
	z-index:202;
	width:91px;
	height:30px;
	line-height:30px;
	padding-left:9px;
	background:#fff;
	border:2px solid #b6d5f4;
	border-bottom:0;
	position:relative;
	top:-1px;
	left:-1px;
	text-decoration:none
}
#crumb .selected .cate-list{
	display:block
}
#crumb .cate-list{
	position:absolute;
	z-index:201;
	top:29px;
	left:-1px;
	display:none;
	width:936px;
	padding:5px 0 5px 10px;
	border:2px solid #b6d5f4;
	background-color:#fff
}
#crumb .cate-list dl{
	float:none;
	display:inline-block;
	*display:inline;
	width:288px;
	padding:6px;
	margin-right:10px;
	line-height:20px;
	vertical-align:top;
	overflow:hidden;
	*zoom:1
}
#crumb .cate-list dl:hover{
	background-color:#f9f9f9
}
#crumb .cate-list dt{
	color:#999
}
#crumb .cate-list dt em{
	font-size:10px;
	color:#999
}
#crumb .cate-list dt a,#crumb .cate-list dt a:link,#crumb .cate-list dt a:visited,#crumb .cate-list dt a:hover{
	color:#06c;
	font-weight:bold;
	font-size:14px;
	margin-right:5px
}
#crumb .cate-list dd a{
	margin-right:10px
}
#filter-tools{
	background:#fafafa;
	padding:28px 14px 13px;
	border:1px solid #d6d6d6;
	border-top:0;
	position:relative;
	z-index:2;
	zoom:1;
	margin-bottom:6px
}
#filter-tools a:link,#filter-tools a:visited,#filter-tools a:hover,#filter-tools a:active{
	color:#333
}
#filter-tools .filter-combo-t,#filter-tools .filter-combo-b{
	background:url(../images/spr_filter_bg.png) no-repeat;
	font-size:0;
	zoom:1
}
#filter-tools .filter-combo-t{
	height:4px;
	background-position:0 0
}
#filter-tools .filter-combo-b{
	height:2px;
	background-position:0 -4px
}
#filter-tools .filter-combo{
	border-left:1px solid #e0e0e0;
	border-right:1px solid #e0e0e0;
	background:#fff;
	padding-top:10px;
	zoom:1
}
#filter-tools .switch-nav{
	width:159px;
	height:25px;
	position:absolute;
	z-index:12;
	top:15px;
	left:289px;
	background:url(../images/spr_but_bg.png) 0 -52px no-repeat
}
#filter-tools .sh-switch-nav{
	background-position:0 -77px
}
#filter-tools .no-triangle{
	background-position:0 -309px
}
#filter-tools .s-no-triangle{
	background-position:0 -334px
}
#filter-tools .no-triangle .prop-s,#filter-tools .s-no-triangle .prop-s{
	padding-right:5px;
	width:58px
}
#filter-tools .prop-entry{
	display:inline;
	float:left;
	width:79px;
	text-align:center;
	line-height:25px;
	position:relative
}
#filter-tools .prop-entry img{
	position:absolute;
	top:-11px;
	right:-8px
}
#filter-tools .switch-nav li.selected a{
	font-weight:bold;
	color:#fff
}
#filter-tools .switch-prev{
	background:url(../images/spr_but_bg.png) 0 -77px no-repeat
}
#filter-tools .props-sd{
	background-color:#e0e0e0;
	position:absolute;
	z-index:101;
	left:3px;
	top:26px;
	display:none
}
#filter-tools .props{
	width:110px;
	background-color:#fff;
	border:1px solid #ccc;
	position:relative;
	left:-3px;
	top:-3px;
	z-index:102;
	display:none
}
#filter-tools .switch-nav .props a,#filter-tools .switch-nav .props a:link,#filter-tools .switch-nav .props a:visited{
	display:block;
	width:90px;
	padding:0 10px;
	text-align:left;
	height:100%;
	color:#666;
	font-weight:normal
}
#filter-tools .switch-nav .props a:hover,#filter-tools .switch-nav .props a.hover{
	color:#333;
	background-color:#e1effa;
	text-decoration:none
}
#filter-tools .prop-s{
	width:54px;
	padding-right:25px;
	text-align:right
}
#filter-tools .prop-s:focus .props-sd,#filter-tools .prop-s:hover .props-sd,#filter-tools .prop-s.hover .props-sd{
	display:block
}
#filter-tools .prop-s:focus .props,#filter-tools .prop-s:hover .props,#filter-tools .prop-s.hover .props{
	display:block
}
#filter-tools .no-last{
	padding-bottom:10px
}
#filter-tools .no-last .category-block{
	border-bottom:0
}
#filter-tools .no-last .category-block span{
	display:inline-block;
	height:27px;
	line-height:27px;
	margin-left:13px;
	white-space:nowrap
}
#filter-tools .no-last .category-block span strong{
	color:#b3b3b3;
	font-weight:normal;
	font-size:9px
}
#filter-tools .no-last .category-block span.selected em{
	color:#db2b2b;
	font-weight:bold;
	font-size:12px
}
#filter-tools .no-last .category-block span em{
	color:#b3b3b3;
	font-size:9px;
	font-weight:normal
}
#filter-tools .selected-filters{
	border:1px solid #fff;
	border-top:0;
	background:#fcfcfc;
	padding:4px 0 4px 20px
}
#filter-tools .selected-filters strong{
	float:left;
	height:27px;
	line-height:27px;
	font-size:12px;
	white-space:nowrap;
	color:#666;
	margin-right:8px;
	font-weight:100
}
#filter-tools .selected-filters a{
	float:left;
	position:relative;
	background:url(../images/selected_filter_bg.png) 0 0 no-repeat;
	height:17px;
	line-height:17px;
	padding-left:4px;
	padding-right:20px;
	margin-top:5px;
	margin-right:5px;
	color:#333
}
#filter-tools .selected-filters a b{
	font-weight:bold
}
#filter-tools .selected-filters a span{
	text-indent:-9999px;
	background:url(../images/spr_but_bg.png) 0 -34px no-repeat;
	display:block;
	width:17px;
	height:17px;
	font-size:0;
	position:absolute;
	right:0;
	top:0
}
#filter-tools .selected-filters a:hover{
	background:url(../images/selected_filter_hover_bg.png) 0 0 no-repeat;
	text-decoration:none;
	text-decoration:none!important
}
#filter-tools .selected-filters a:hover span{
	background-position:-17px -34px
}
#filter-tools .block{
	position:relative;
	overflow:hidden;
	zoom:1;
	left:0;
	top:0
}
#filter-tools .block .k{
	width:100px;
	height:27px;
	line-height:27px;
	margin-bottom:-27px;
	text-align:right;
	font-weight:bold
}
#filter-tools .block .v{
	margin-left:100px;
	padding-left:9px;
	width:522px
}
#filter-tools .block .v em{
	color:#db2b2b;
	font-weight:bold
}
#filter-tools .block .v em span,#filter-tools .block .v a span{
	color:#999;
	*font-family:SimSun
}
#filter-tools .block .btn-toggle,#filter-tools .block .btn-toggle-over{
	cursor:pointer;
	width:49px;
	height:23px;
	line-height:23px;
	position:absolute;
	top:5px;
	right:21px;
	color:#06c;
	text-indent:5px;
	z-index:11
}
#filter-tools .block .btn-toggle{
	background:url(../images/spr_link.png) 0 0 no-repeat
}
#filter-tools .block .btn-toggle-over{
	background:url(../images/spr_over.png) 0 0 no-repeat
}
#filter-tools .block .btn-toggle-off{
	background-position:0 -23px
}
#filter-tools .block .btn-toggle-on .off,#filter-tools .block .btn-toggle-off .on{
	display:none
}
#filter-tools .block .btn-toggle-on .on,#filter-tools .block .btn-toggle-off .off{
	display:auto
}
#filter-tools .block .detail-panel{
	background:#f1f1f1
}
#filter-tools .block .detail-panel div{
	border:1px solid #b6d5f4;
	position:relative;
	left:-2px;
	*left:-1px;
	top:-2px;
	margin-right:1px
}
#filter-tools .category-block{
	padding:4px 0 4px;
	border-bottom:1px solid #f2f2f2
}
#filter-tools .category-block .v span{
	display:inline-block;
	height:27px;
	line-height:27px;
	margin-right:13px;
	white-space:nowrap
}
#filter-tools .category-block .v span em{
	color:#b3b3b3;
	font-size:9px;
	font-weight:normal
}
#filter-tools .category-block .v span strong{
	color:#b3b3b3;
	font-weight:normal;
	font-size:9px
}
#filter-tools .single-block{
	padding:4px 0 4px;
	border-bottom:1px solid #f2f2f2;
	height:27px
}
#filter-tools .single-block-expanded{
	height:auto
}
#filter-tools .single-block .v em,#filter-tools .single-block .v a{
	display:inline-block;
	height:27px;
	line-height:27px;
	margin-right:13px;
	white-space:nowrap
}
#filter-tools .single-block .v a.selected{
	color:#db2c2c
}
#filter-tools .location-block{
	padding:7px 0 10px;
	border-bottom:1px solid #f2f2f2
}
#filter-tools .location-block .v{
	overflow:hidden;
	width:530px
}
#filter-tools .location-block .v em,#filter-tools .location-block .v span{
	float:left;
	height:26px;
	line-height:26px;
	margin-right:13px;
	white-space:nowrap;
	text-align:center
}
#filter-tools .location-block .v strong{
	font-size:9px;
	font-weight:normal;
	color:#999
}
#filter-tools .location-block .v .selected{
	position:relative;
	height:26px;
	border:1px solid #b6d5f4;
	border-bottom:0;
	background:#f6fbff;
	display:block;
	float:left;
	z-index:10;
	margin:1px 8px -2px 0
}
#filter-tools .location-block .v .selected em{
	margin:1px 0 0 0;
	padding:1px 7px;
	height:20px;
	line-height:20px;
	*line-height:18px
}
#filter-tools .location-block .v .selected .sd{
	position:absolute;
	font-size:0;
	display:block;
	width:2px;
	height:25px;
	top:0;
	right:-3px;
	background:#f1f1f1;
	float:none;
	margin:0
}
#filter-tools .location-block .detail-panel{
	width:538px;
	z-index:8;
	clear:both;
	margin-left:-7px;
	position:relative;
	top:3px;
	margin-bottom:2px
}
#filter-tools .location-block .detail-panel div{
	padding:4px 13px;
	background:#f6fbff
}
#filter-tools .location-block .hidden{
	display:none
}
#filter-tools .location-block-expanded .hidden{
	display:block
}
#filter-tools .location-block .btn-toggle{
	top:8px
}
#filter-tools .multi-wrapper{
	border:1px solid #f2f2f2;
	border-width:1px 0;
	background:#fff;
	position:relative;
	top:-1px;
	margin-bottom:-1px;
	padding-bottom:10px;
	z-index:1;
	zoom:1
}
#filter-tools .multi-wrapper-active{
	border-color:#cfe4f9;
	background:#f8fbfd;
	border-bottom-color:#d7d7d7
}
#filter-tools .multi-block{
	padding-top:6px;
	height:56px
}
#filter-tools .multi-block-expanded{
	height:auto
}
#filter-tools .multi-block .v{
	width:530px;
	padding:0;
	margin-top:-1px
}
#filter-tools .multi-block-onerow .v{
	height:28px
}
#filter-tools .multi-block .v div{
	background:transparent;
	padding-left:13px
}
#filter-tools .multi-block-expanded .v{
	background:#efefef;
	height:auto;
	margin-top:0;
	overflow:visible
}
#filter-tools .multi-block-expanded .v div{
	background:#fff;
	border:1px solid #d7dfe6;
	position:relative;
	left:-1px;
	top:-1px
}
#filter-tools .multi-block .v span{
	display:inline-block;
	margin:3px 5px 3px 0;
	overflow:hidden;
	white-space:nowrap;
	word-break:keep-all;
	text-overflow:ellipsis;
	-o-text-overflow:ellipsis
}
#filter-tools .multi-block .btn-bg{
	position:absolute;
	background:#efefef;
	top:6px;
	left:663px;
	z-index:10;
	display:none
}
#filter-tools .multi-block .btn-bg div{
	position:relative;
	left:-1px;
	top:-1px;
	width:58px;
	height:28px;
	border:1px solid #d7dfe6;
	border-left:0;
	background:#fff
}
#filter-tools .multi-block-expanded .btn-bg{
	display:block
}
#filter-tools .multi-wrapper .btn-assure{
	width:52px;
	height:22px;
	background:url(../images/tmp_bg_bottons.png) -46px -21px no-repeat;
	margin:3px auto;
	line-height:22px;
	text-indent:8px;
	color:#06c;
	cursor:pointer
}
#filter-tools .multi-block .fake-checkbox{
	color:#333
}
#filter-tools .multi-block .fake-checkbox-selected{
	color:#db2c2c;
	font-weight:bold
}
#filter-tools .multi-wrapper .btn-assure{
	width:52px;
	height:22px;
	background:url(../images/tmp_bg_bottons.png) -46px -21px no-repeat;
	margin:3px auto;
	line-height:22px;
	text-indent:8px;
	color:#06c;
	cursor:pointer
}
#filter-bar{
	background:#fafafa;
	border:1px solid #d6d6d6;
	position:relative;
	zoom:1;
	color:#333
}
#filter-bar .item .k{
	display:block;
	height:22px;
	line-height:22px;
	width:70px;
	float:left;
	text-align:right
}
#filter-bar .item .v{
	margin-left:70px
}
#filter-bar .item input.keyword,#filter-bar .item input.money{
	height:18px;
	padding:1px;
	border:1px solid #c2c2c2;
	border-right-color:#e0e0e0;
	border-bottom-color:#e0e0e0
}
#filter-bar .item input.keyword{
	width:148px
}
#filter-bar .item input.money{
	width:45px
}
#filter-bar .item input.submit{
	width:40px;
	height:22px;
	border:0;
	background:url(../images/spr_but_bg.png) -119px -102px no-repeat;
	cursor:pointer;
	color:#999
}
#filter-bar .filter-form li .item{
	display:inline;
	float:left
}
#filter-bar .filter-form li.first{
	border-bottom:1px dashed #ccc
}
#filter-bar .filter-form .row{
	padding:7px 0
}
#filter-bar .filter-form{
	padding:13px 10px 0;
	border-bottom:1px solid #e6e6e6
}
#filter-bar .filter-sx .filter-select{
	display:inline;
	float:left;
	margin-right:6px;
	position:relative;
	z-index:3
}
#filter-bar .filter-sx .filter-select span{
	display:block;
	height:16px;
	overflow:hidden;
	line-height:16px;
	background:url(../images/spr_but_select.png) right top no-repeat #fff;
	padding:2px 20px 2px 3px;
	_padding-top:4px;
	_padding-bottom:0;
	border:1px solid #c2c2c2;
	cursor:pointer
}
#filter-bar .filter-sx .filter-select.cate span{
	width:73px;
	color:#929292
}
#filter-bar .filter-sx .filter-select.loca span{
	width:53px
}
#filter-bar .filter-sx .filter-select.cate a{
	min-width:83px;
	_width:83px
}
#filter-bar .filter-sx .filter-select.loca a{
	min-width:63px;
	_width:63px
}
#filter-bar .filter-sx .select-opts{
	background-color:#e0e0e0;
	position:absolute;
	z-index:301px;
	left:2px;
	top:22px
}
#filter-bar .filter-sx .select-opts ul{
	background-color:#fff;
	border:1px solid #c2c2c2;
	position:relative;
	left:-2px;
	top:-1px
}
#filter-bar .filter-sx .select-opts a,#filter-bar .filter-sx .select-opts a:link,#filter-bar .filter-sx .select-opts a:visited{
	display:block;
	color:#666;
	padding:0 6px;
	line-height:25px
}
#filter-bar .filter-sx .select-opts a:hover{
	background-color:#e1effa;
	color:#333;
	text-decoration:none
}
#filter-bar .filter-guarantee-box{
	float:left;
	line-height:34px
}
#filter-bar .filter-guarantee-box .fake-checkbox{
	display:inline-block;
	margin-right:14px;
	_margin-top:8px
}
#filter-bar .filter-ch .fake-checkbox{
	display:inline;
	float:left;
	margin-right:14px
}
#filter-bar .filter-guarantee-box a,#filter-bar .filter-guarantee-box a:link,#filter-bar .filter-guarantee-box a:visited,#filter-bar .filter-guarantee-box a:hover,#filter-bar .filter-ch a,#filter-bar .filter-ch a:link,#filter-bar .filter-ch a:visited,#filter-bar .filter-ch a:hover{
	text-decoration:none;
	color:#333
}
#filter-bar .bottom-bar{
	height:34px;
	background:url(../images/spr_nav_bg.png) left top repeat-x #f5f5f5;
	color:#666;
	position:relative
}
#filter-bar .bottom-bar .gap{
	margin:0 10px;
	color:#ccc
}
#filter-bar .bottom-bar .show-switch strong{
	color:#db2c2c
}
#filter-bar .bottom-bar .show-switch.thomb-mode a,#filter-bar .bottom-bar .show-switch.list-mode a{
	display:block;
	background:url(../images/spr_but_bg.png) no-repeat;
	width:66px;
	padding-left:20px;
	height:17px;
	line-height:17px;
	border:1px solid #cbcbcb;
	color:#666;
	margin-right:15px
}
#filter-bar .bottom-bar .show-switch.thomb-mode a:hover,#filter-bar .bottom-bar .show-switch.list-mode a:hover{
	border:1px solid #93c2f1;
	text-decoration:none
}
#filter-bar .bottom-bar .show-switch.thomb-mode a{
	background-position:0 -207px
}
#filter-bar .bottom-bar .show-switch.thomb-mode a:hover{
	background-position:0 -224px
}
#filter-bar .bottom-bar .show-switch.list-mode a{
	background-position:-86px -207px
}
#filter-bar .bottom-bar .show-switch.list-mode a:hover{
	background-position:-86px -224px
}
#filter-bar .bottom-bar .show-sort{
	margin-left:20px;
	line-height:34px;
	float:left
}
#filter-bar .bottom-bar .show-sort strong{
	color:#db2c2c
}
#filter-bar .bottom-bar .show-sort a{
	color:#333
}
#filter-bar .bottom-bar .show-sort a.selected{
	font-weight:bold;
	color:#db2c2c;
	background:url(../images/spr_but_bg.png) -19px -110px no-repeat
}
.search-list-hd{
	*zoom:1;
	padding:5px 0
}
.search-list-hd:after{
	content:".";
	display:block;
	clear:both;
	height:0
}
.search-list-hd h2{
	float:left;
	font-size:14px;
	margin-left:10px
}
.search-list-hd .mini-global-page{
	float:right;
	margin-top:2px;
	margin-right:10px
}
.mod-se{
	margin-bottom:10px;
	border:1px solid #e6e6e6
}
.mod-se a{
	color:#06c
}
.mod-se .hd{
	padding:1px;
	line-height:28px;
	height:28px;
	background:url(../images/spr_nav_bg.png) 0 0 repeat-x;
	border-bottom:1px solid #e6e6e6;
	position:relative
}
.mod-se .hd h3{
	text-indent:10px;
	font-size:14px;
	font-size:bold
}
.mod-se .next-group{
	position:absolute;
	right:10px;
	top:3px;
	display:block;
	height:22px;
	line-height:22px;
	text-align:right;
	width:40px;
	overflow:hidden;
	font-size:10px;
	color:#999;
	outline:0
}
.mod-se .next-group:hover{
	color:#666
}
.mod-se .loading-indicator{
	position:absolute;
	right:50px;
	top:5px
}
.mini-shop-list{
	padding:0 11px 0 9px;
	margin-top:-1px
}
.mini-shop-list .mini-shop-unit{
	padding:8px 0 0 85px;
	border-top:1px dashed #ccc;
	min-height:65px;
	_height:65px
}
.mini-shop-list .hover{
	background-color:#f3f3f3
}
.mini-shop-list .last{
	border:0
}
.mini-shop-list .mini-shop-unit .photo{
	width:75px;
	height:55px;
	overflow:hidden;
	position:relative;
	margin:0 0 -58px -85px;
	*margin-bottom:-57px
}
.mini-shop-list .mini-shop-unit .photo a{
	width:95px;
	height:55px;
	position:absolute;
	left:28px;
	margin-left:-38px
}
.mini-shop-list .mini-shop-unit h4{
	width:90px;
	height:20px;
	line-height:20px;
	overflow:hidden;
	white-space:nowrap;
	word-break:keep-all;
	text-overflow:ellipsis;
	-o-text-overflow:ellipsis;
	font-weight:normal
}
.mini-shop-list .mini-shop-unit .branch-link{
	background:url(../images/tmp_ico_filter.png) 0 -115px no-repeat;
	*background-position:0 -116px;
	display:block;
	padding-left:14px;
	width:4em;
	height:14px;
	line-height:14px
}
.mini-shop-list .mini-shop-unit p{
	height:28px;
	line-height:14px;
	overflow:hidden;
	margin-top:3px;
	word-break:break-all;
	color:#666
}
#special-collection .mini-shop-list{
	padding:0
}
#special-collection .mini-shop-list .mini-shop-unit{
	padding:0 9px;
	border-bottom:0
}
#special-collection .mini-shop-list .mini-shop-inner-unit{
	padding:8px 0 0 85px;
	border-bottom:1px solid #e5e5e5;
	min-height:65px;
	_height:65px
}
#special-collection .mini-shop-list .mini-shop-unit h4{
	width:95px
}
.panel-se-aside{
	position:absolute;
	width:388px;
	height:210px;
	z-index:99
}
.panel-se-aside .panel-content{
	border:1px solid #8ec2f5;
	padding:2px;
	overflow:hidden;
	width:382px;
	height:204px;
	background-color:#c6ddf5
}
.panel-se-aside .cue{
	display:block;
	position:absolute;
	width:9px;
	height:11px;
	background:url(../images/tmp_bg_bottons.png) -46px 0 no-repeat;
	right:-6px;
	top:91px;
	z-index:99;
	font-size:0
}
.panel-se-aside .sdr,.panel-se-aside .sdb{
	display:block;
	position:absolute;
	width:2px;
	height:208px;
	right:-2px;
	bottom:-2px;
	z-index:98;
	font-size:0;
	background:#e2e3e4
}
.panel-se-aside .sdb{
	width:386px;
	height:2px
}
#aside-panel .sc-detail{
	background:#fff;
	padding:10px;
	height:184px;
	overflow:hidden
}
#aside-panel .sc-detail .unit h4{
	font-size:14px;
	font-weight:bold;
	height:18px;
	line-height:18px;
	width:100%;
	overflow:hidden;
	white-space:nowrap;
	word-break:keep-all;
	text-overflow:ellipsis;
	-o-text-overflow:ellipsis;
	margin-bottom:12px
}
#aside-panel .sc-detail .unit .photo{
	float:left;
	width:125px;
	height:97px;
	padding:6px 0 0 6px;
	margin:-3px 15px 9px 0;
	background:url(../images/tmp_bg_panel_photo.png) 0 0 no-repeat
}
#aside-panel .sc-detail .unit .photo a{
	width:120px;
	height:88px
}
#aside-panel .sc-detail .unit .ad{
	float:left;
	width:200px;
	height:20px;
	line-height:20px;
	background:url(../images/tmp_ico_filter.png) 0 -136px no-repeat;
	overflow:hidden;
	white-space:nowrap;
	word-break:keep-all;
	text-overflow:ellipsis;
	-o-text-overflow:ellipsis;
	text-indent:8px
}
#aside-panel .sc-detail .unit .phone{
	float:left;
	width:200px;
	height:24px;
	line-height:24px;
	margin-top:12px;
	color:#d21;
	font-size:14px;
	font-weight:bold;
	text-indent:15px;
	font-family:SimSun
}
#aside-panel .sc-detail .unit .address,#aside-panel .sc-detail .unit .ext{
	width:100%;
	clear:both;
	height:24px;
	line-height:24px;
	text-indent:24px;
	overflow:hidden;
	white-space:nowrap;
	word-break:keep-all;
	text-overflow:ellipsis;
	-o-text-overflow:ellipsis
}
#aside-panel .sc-detail .unit .ico-phone,#aside-panel .sc-detail .unit .ico-addr,#aside-panel .sc-detail .unit .ico-price,#aside-panel .sc-detail .unit .ico-ext{
	background:url(../images/tmp_spr_icons.png) 0 0 no-repeat
}
#aside-panel .sc-detail .unit .ico-phone{
	background-position:0 -73px
}
#aside-panel .sc-detail .unit .ico-addr{
	background-position:7px -48px
}
#aside-panel .sc-detail .unit .ico-price{
	background-position:7px -96px
}
#aside-panel .sc-detail .unit .ico-ext{
	background-position:7px -24px
}
.ico-certification-m{
	background:url("images/tmp_spr_icons.png") no-repeat;
	display:inline-block;
	vertical-align:top;
	width:35px;
	height:14px;
	margin:0 0 0 10px;
	background-position:0 -149px
}
#resys-widget{
	position:relative
}
.recommended-widget{
	zoom:1
}
.recommended-widget .popup-zone{
	overflow:hidden;
	position:relative
}
.recommended-widget .shop-list-unit{
	position:relative
}
.recommended-widget .shop-list-unit .delete{
	display:none
}
.recommended-widget .toolbar{
	height:28px;
	line-height:22px;
	background-color:#fff;
	*margin-top:6px
}
.recommended-widget .toolbar .next-group:hover{
	*filter:alpha(opacity=100);
	opacity:1
}
.recommended-widget .toolbar .to-recommended-index{
	float:right;
	display:block;
	height:22px;
	line-height:22px;
	font-family:SimSun;
	margin-right:10px
}
.recommended-widget .delete-tip{
	background:url(../images/spr_recommended.png) 0 -54px no-repeat;
	width:64px;
	height:26px;
	text-align:center;
	color:#fff;
	position:absolute;
	opacity:.7;
	filter:alpha(opacity=70);
	top:0;
	left:0
}
.recommended-widget .delete-tip span{
	line-height:22px
}
#gototop{
	width:26px;
	height:86px;
	background:url(../images/tmp_bg_bottons.png) -98px -31px;
	font-size:0;
	position:fixed;
	_position:absolute;
	bottom:33px
}
#gototop.hover{
	background-position:-124px -31px
}
.mod-tuiguang{
	padding:14px 18px;
	background:#f7fbff;
	border:1px solid #d7e7f7
}
.mod-tuiguang a{
	display:block;
	width:160px;
	padding-left:10px;
	height:30px;
	line-height:30px;
	background:url(../images/spr_but_bg.png) 0 -279px no-repeat;
	height:30px;
	color:#fff
}
.mod-tuiguang p{
	font-size:12px;
	text-align:center;
	margin-top:5px
}
.no-result{
	margin:15px 0;
	padding-left:70px
}
.no-result p{
	font-size:14px;
	line-height:26px
}
.no-result h1{
	position:relative;
	font-size:14px;
	line-height:40px;
	height:49px;
	padding-left:60px;
	margin:20px 0 20px -60px
}
.no-result h1 span{
	display:block;
	width:42px;
	height:49px;
	background:url(../images/bg_search_list.png) -901px 0 no-repeat;
	position:absolute;
	left:0;
	top:0
}
.no-result h2{
	font-size:14px;
	line-height:24px;
	font-weight:normal;
	height:24px;
	width:5em;
	margin-bottom:-24px
}
.no-result div{
	margin-left:85px;
	width:400px;
	padding-top:2px
}
.no-result div a{
	float:left;
	width:80px;
	line-height:24px;
	height:24px
}
.no-result .search-again{
	height:40px;
	line-height:40px;
	margin:20px 0 15px;
	vertical-align:middle
}
.no-result .search-again .keyword-input{
	background:url(../images/bg_search_list.png) -196px -29px no-repeat;
	width:265px;
	height:26px;
	border:0;
	font-size:14px;
	line-height:26px;
	vertical-align:middle;
	padding-left:5px
}
.no-result .search-again .submit{
	background:url(../images/bg_search_list.png) -466px -30px no-repeat;
	width:89px;
	height:26px;
	border:0;
	font-weight:bold;
	margin-left:-1px;
	vertical-align:middle;
	line-height:26px
}
.shop-advice{
	padding:17px 0 17px 13px;
	background:#f7f7f7;
	margin-bottom:20px
}
.shop-advice{
	width:726px;
	overflow:hidden;
	padding-left:12px
}
.shop-advice li{
	width:150px;
	float:left;
	margin-right:30px
}
.shop-advice li .shop-advice-name{
	overflow:hidden;
	white-space:nowrap;
	word-break:keep-all;
	text-overflow:ellipsis;
	-o-text-overflow:ellipsis;
	line-height:22px;
	text-align:center;
	margin-top:10px
}
.global-page{
	margin:15px 0;
	text-align:center
}
#panel-map .ft{
	border-top:1px solid #ccc;
	height:106px;
	text-align:left;
	background:#fff;
	position:relative;
	padding-left:16px
}
#panel-map .ft .shop-title{
	height:20px;
	line-height:20px;
	margin-top:13px;
	font-weight:bold;
	clear:both;
	margin-bottom:6px
}
#panel-map .ft .shop-addr,#panel-map .ft .shop-phone{
	background:url("images/tmp_spr_icons.png") 0 -48px no-repeat;
	height:24px;
	line-height:24px;
	margin:0 20px 0 0;
	padding-left:20px;
	float:left;
	font-family:SimSun
}
#panel-map .ft .shop-phone{
	background-position:0 -72px;
	margin-right:0
}
#panel-map .ft .warning{
	height:33px;
	line-height:33px;
	text-align:right;
	border-top:1px dashed #e5e5e5;
	position:absolute;
	bottom:0;
	width:804px;
	left:5px;
	padding-right:10px;
	color:#999
}
.phone-separator{
	padding:0 8px;
	font-family:SimSun;
	color:#d1e3f5
}
.mod-tips span.x2{
	margin-top:-1px
}
.guarantees{
	zoom:1;
	display:inline-block;
	*display:inline;
	height:14px;
	margin-left:5px
}
.g-icon a{
	zoom:1;
	display:inline-block;
	*display:inline;
	background:no-repeat;
	width:16px;
	height:16px;
	margin-right:2px;
	line-height:16px
}
#filter-bar .bottom-bar .show-switch{
	position:absolute;
	right:0;
	top:8px
}
#filter-bar .bottom-bar .filter-ch{
	position:absolute;
	right:0;
	top:8px
}
#filter-bar .bottom-bar .filter-in{
	padding-top:6px
}
#filter-bar .bottom-bar .show-sort a.sort-asc,#filter-bar .bottom-bar .show-sort a.sort-desc,#filter-bar .bottom-bar .show-sort a.sort-asc-sel,#filter-bar .bottom-bar .show-sort a.sort-desc-sel{
	background:url(../images/spr_but_bg.png) -19px -110px no-repeat;
	padding-right:16px
}
#filter-bar .bottom-bar .show-sort a.sel{
	font-weight:bold;
	color:#db2c2c
}
#filter-bar .bottom-bar .show-sort a.sort-asc-sel{
	background-position:-96px -260px
}
#filter-bar .bottom-bar .show-sort a.sort-desc-sel{
	background-position:-96px -245px
}
#filter-bar .bottom-bar .show-sort a.sort-desc-sel:hover{
	background-position:-96px -260px;
	color:#0166cc
}
#filter-bar .bottom-bar .show-sort a.sort-asc-sel:hover{
	background-position:-96px -245px;
	color:#0166cc
}
.brand-page-pre,.brand-page-nex,.brand-page-pre-disable,.brand-page-nex-disable{
	background:url(../images/spr_brand_icons.png) no-repeat
}
.brand-list,.brand-item{
	background:url(../images/spr_brand_bg.png) no-repeat
}
.brand-page-num{
	float:right;
	font-family:Arial;
	*line-height:24px;
	color:#969696
}
.brand-page-num strong{
	color:#db3737
}
.brand-page-swich{
	float:right;
	width:40px;
	height:17px;
	margin:4px auto auto 5px;
	font-size:0;
	white-space:normal
}
.brand-page-pre,.brand-page-pre-disable,.brand-page-nex,.brand-page-nex-disable{
	float:left;
	position:relative;
	border:solid 1px #ccc;
	width:16px;
	height:15px;
	overflow:hidden;
	font-size:0;
	text-indent:-9999px
}
.brand-page-pre{
	background-position:0 -16px
}
.brand-page-pre:hover{
	background-position:0 -32px;
	border-color:#f30;
	z-index:2
}
.brand-page-pre-disable{
	background-position:0 0;
	cursor:default
}
.brand-page-nex,.brand-page-nex-disable{
	margin-left:-1px
}
.brand-page-nex{
	background-position:-18px -16px
}
.brand-page-nex:hover{
	background-position:-18px -32px;
	border-color:#f30;
	z-index:2
}
.brand-page-nex-disable{
	background-position:-18px 0;
	cursor:default
}
.brand-list{
	overflow:hidden;
	height:100%;
	margin:3px 3px 3px 1px;
	background-repeat:repeat-y;
	background-position:102px 0
}
.brand-item{
	float:left;
	margin:-1px auto auto 2px;
	_margin-left:1px;
	background-repeat:repeat-x;
	width:100px;
	padding-top:1px;
	height:69px
}
.brand-item .uimg{
	width:100px;
	height:66px;
	line-height:66px;
	margin-top:1px;
	outline:0;
	text-decoration:none;
	font-size:0;
	color:#f8f8f8
}
.brand-item .add{
	cursor:default
}
.brand-item .uimg:hover{
	color:#eee
}
.brand-item .uimg img{
	vertical-align:middle
}
.brand-item .add{
	cursor:default
}
.hot-activity .cls{
	margin:16px 10px 10px;
	text-align:center;
	border-bottom:dashed 1px #ccc
}
.hot-activity .cls p{
	line-height:36px
}
.hot-activity .last{
	border-bottom:0;
	margin-bottom:5px
}
