body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,select,optgroup,option,p,blockquote,th,td{
	margin:0;
	padding:0
}
fieldset,img{
	border:0
}
address,caption,cite,code,dfn,em,i,th,var,optgroup{
	font-style:normal;
	font-weight:normal
}
ins{
	text-decoration:none
}
li{
	list-style:none
}
table{
	font-size:inherit;
	font:100%
}
caption,th{
	text-align:left
}
h1,h2,h3,h4,h5,h6{
	font-size:100%
}
q:before,q:after{
	content:''
}
abbr,acronym{
	border:0;
	font-variant:normal
}
legend{
	color:#000
}
input,button,textarea,select,optgroup,option{
	font-family:inherit;
	font-size:inherit;
	font-style:inherit;
	font-weight:inherit
}
input,button,textarea,select{
	margin:0;
	*font-size:100%;
	line-height:1.2
}
input,textarea,select{
	outline:0
}
a img,img{
	-ms-interpolation-mode:bicubic
}
.richtext{
	font-size:12px;
	width:100%;
	overflow:hidden;
	position:relative
}
.richtext h1{
	font-size:18px
}
.richtext h2{
	font-size:16px
}
.richtext h3{
	font-size:14px
}
.richtext h1,.richtext h2,.richtext h3{
	margin:12px 0
}
.richtext abbr,.richtext acronym{
	border-bottom:1px dotted #000;
	cursor:help
}
.richtext em{
	font-style:italic
}
.richtext blockquote,.richtext ul,.richtext ol,.richtext dl{
	margin:12px
}
.richtext ol,.richtext ul,.richtext dl{
	margin-left:24px
}
.richtext ol li{
	list-style:decimal outside
}
.richtext ul li{
	list-style:disc outside
}
.richtext dl dd{
	margin-left:12px
}
.richtext table{
	border-collapse:collapse;
	border-spacing:0
}
.richtext th,.richtext td{
	border:1px solid #000;
	padding:6px
}
.richtext th{
	font-weight:bold;
	text-align:center
}
.richtext caption{
	margin-bottom:6px;
	text-align:center
}
.richtext p,.richtext fieldset,.richtext table,.richtext pre{
	margin-bottom:6px
}
.richtext img{
	vertical-align:bottom
}
.bb-g{
	letter-spacing:-0.31em;
	*letter-spacing:normal;
	word-spacing:-0.43em
}
.bb-u,.bb-u-1,.bb-u-1-2,.bb-u-1-3,.bb-u-2-3,.bb-u-1-4,.bb-u-3-4,.bb-u-1-5,.bb-u-2-5,.bb-u-3-5,.bb-u-4-5,.bb-u-1-6,.bb-u-5-6,.bb-u-1-8,.bb-u-3-8,.bb-u-5-8,.bb-u-7-8,.bb-u-1-12,.bb-u-5-12,.bb-u-7-12,.bb-u-11-12,.bb-u-1-24,.bb-u-5-24,.bb-u-7-24,.bb-u-11-24,.bb-u-13-24,.bb-u-17-24,.bb-u-19-24,.bb-u-23-24{
	display:inline-block;
	zoom:1;
	*display:inline;
	letter-spacing:normal;
	word-spacing:normal;
	vertical-align:top
}
.bb-u-1{
	display:block
}
.bb-u-1-2{
	width:50%
}
.bb-u-1-3{
	width:33.33333%
}
.bb-u-2-3{
	width:66.66666%
}
.bb-u-1-4{
	width:25%
}
.bb-u-3-4{
	width:75%
}
.bb-u-1-5{
	width:20%
}
.bb-u-2-5{
	width:40%
}
.bb-u-3-5{
	width:60%
}
.bb-u-4-5{
	width:80%
}
.bb-u-1-6{
	width:16.656%
}
.bb-u-5-6{
	width:83.33%
}
.bb-u-1-8{
	width:12.5%
}
.bb-u-3-8{
	width:37.5%
}
.bb-u-5-8{
	width:62.5%
}
.bb-u-7-8{
	width:87.5%
}
.bb-u-1-12{
	width:8.3333%
}
.bb-u-5-12{
	width:41.6666%
}
.bb-u-7-12{
	width:58.3333%
}
.bb-u-11-12{
	width:91.6666%
}
.bb-u-1-24{
	width:4.1666%
}
.bb-u-5-24{
	width:20.8333%
}
.bb-u-7-24{
	width:29.1666%
}
.bb-u-11-24{
	width:45.8333%
}
.bb-u-13-24{
	width:54.1666%
}
.bb-u-17-24{
	width:70.8333%
}
.bb-u-19-24{
	width:79.1666%
}
.bb-u-23-24{
	width:95.8333%
}
body{
	font:12px/1.5 arial,helvetica,sans-serif;
	text-align:center;
	color:#333;
	background:#FFF
}
#doc{
	margin:auto;
	width:950px;
	text-align:left;
	min-width:760px;
	zoom:1
}
#doc2{
	margin:0 10px;
	text-align:left;
	min-width:760px;
	zoom:1
}
#doc3{
	margin:auto;
	text-align:left;
	min-width:760px;
	zoom:1
}
#doc4{
	margin:auto;
	width:1000px;
	text-align:left;
	min-width:760px;
	zoom:1
}
#doc5{
	margin:auto;
	width:960px;
	text-align:left;
	min-width:760px;
	zoom:1
}
.bb-t1,.bb-t2,.bb-t3,.bb-t4,.bb-t5,.bb-t6,.bb-t7,.bb-t8,.bb-t9{
	*zoom:1
}
.bb-t1:after,.bb-t2:after,.bb-t3:after,.bb-t4:after,.bb-t5:after,.bb-t6:after,.bb-t7:after,.bb-t8:after,.bb-t9:after{
	content:".";
	display:block;
	height:0;
	clear:both;
	visibility:hidden
}
#main{
	width:100%
}
.bb-t1 #aside{
	float:right;
	width:200px
}
.bb-t1 #main{
	float:left;
	margin-right:-200px
}
.bb-t1 #main .inner{
	margin-right:210px
}
.bb-t2 #aside{
	float:left;
	width:200px
}
.bb-t2 #main{
	float:right;
	margin-left:-200px
}
.bb-t2 #main .inner{
	margin-left:210px
}
.bb-t3 #main{
	width:100%
}
.bb-t4 #aside{
	float:right;
	width:170px
}
.bb-t4 #main{
	float:left;
	margin-right:-170px
}
.bb-t4 #main .inner{
	margin-right:180px
}
.bb-t5 #aside{
	float:left;
	width:170px
}
.bb-t5 #main{
	float:right;
	margin-left:-170px
}
.bb-t5 #main .inner{
	margin-left:180px
}
.bb-t6 #aside{
	float:right;
	width:260px
}
.bb-t6 #main{
	float:left;
	margin-right:-260px
}
.bb-t6 #main .inner{
	margin-right:270px
}
.bb-t7 #aside{
	float:left;
	width:260px
}
.bb-t7 #main{
	float:right;
	margin-left:-260px
}
.bb-t7 #main .inner{
	margin-left:270px
}
.bb-t8 #aside{
	float:right;
	width:250px
}
.bb-t8 #main{
	float:left;
	margin-right:-250px
}
.bb-t8 #main .inner{
	margin-right:260px
}
.bb-t9 #aside{
	float:right;
	width:210px
}
.bb-t9 #main{
	float:left;
	margin-right:-210px
}
.bb-t9 #main .inner{
	margin-right:220px
}
a{
	color:#24d;
	text-decoration:none
}
a:hover,a:active,a:focus{
	color:#24d;
	text-decoration:underline
}
.em,a.em{
	color:#ff4a32
}
textarea.error{
	background-color:#f88
}
input.error{
	background-color:#f88
}
em.error{
	color:#ff4a32!important
}
span.emptyhint{
	color:#999;
	position:absolute;
	padding:3px
}
span.dark-emptyhint{
	display:none
}
input.button,button{
	font-size:100%;
	overflow:visible;
	*padding-top:3px;
	*padding-left:8px;
	*padding-right:8px
}
.drag-proxy{
	display:none;
	position:absolute;
	z-index:999999;
	border:2px dashed #999;
	background-color:#fff
}
.proxy-dragging{
	display:block
}
.cls:after{
	content:".";
	display:block;
	height:0;
	clear:both;
	visibility:hidden
}
.cls{
	zoom:1
}
.ico-certification{
	width:55px;
	height:21px;
	background:url(../images/spr_ico.png) no-repeat
}
.ico-certification-m{
	display:inline-block;
	*display:inline;
	*zoom:1;
	width:26px;
	height:17px;
	background:url(../images/spr_ico.png) no-repeat 0 -104px
}
.nojs{
	background:url(../images/ico-nojs.gif) 12px center #feffb1 no-repeat;
	border:1px solid #ffe574;
	font-size:14px;
	font-weight:bold;
	padding:4px 34px
}
.mask{
	background:#000;
	filter:alpha(opacity:30);
	-ms-filter:alpha(opacity:30);
	opacity:.3
}
.panel{
	z-index:299;
	position:relative;
	text-align:left
}
.panel .hd{
	zoom:1
}
.panel .co1,.panel .co2,.panel .cue,.panel .sd,.panel .close,.panel .resize{
	z-index:3
}
.panel .close{
	cursor:pointer
}
.panel .resize{
	position:absolute;
	right:0;
	bottom:0;
	width:10px;
	height:10px
}
.panel .panel-iframe{
	width:100%;
	height:100%;
	_height:3000px;
	position:absolute;
	top:0;
	left:0;
	z-index:0;
	filter:alpha(opacity=0);
	-ms-filter:alpha(opacity=0)
}
.panel-t0{
	position:relative;
	zoom:1;
	z-index:0
}
.panel-t0 .panel-content{
	position:relative;
	z-index:2
}
.panel-drag-enabled{
	cursor:move
}
.panel-t1{
	position:relative;
	zoom:1;
	z-index:0;
	_padding-bottom:3px;
	_overflow-y:hidden
}
.panel-t1 .panel-content{
	position:relative;
	z-index:2;
	border:3px solid #6fa6c0;
	background:#fff
}
.panel-t1 .panel-content .hd{
	background:url(../images/sprites_gra.png) repeat-x;
	border-bottom:1px solid #d6d6d6;
	zoom:1
}
.panel-t1 .panel-content .hd h3{
	font-size:14px;
	font-weight:bold;
	color:#333;
	padding:4px 0 4px 15px
}
.panel-t1 .panel-content .ft{
	background:#cbe5f2;
	text-align:center
}
.panel-t1 .panel-content .ft button{
	margin:3px 5px;
	font-size:14px;
	padding:0 8px;
	cursor:pointer
}
.panel-t1 .sd{
	display:block;
	background:#333;
	width:100%;
	height:100%;
	_height:3000px;
	position:absolute;
	top:3px;
	left:3px;
	z-index:-1;
	opacity:.20;
	filter:alpha(opacity="20")
}
.panel-t1 .close{
	width:14px;
	height:14px;
	display:block;
	overflow:hidden;
	text-indent:-9999px;
	background:url(../images/bg_act_close.png) no-repeat;
	position:absolute;
	top:10px;
	right:10px
}
.panel-t2{
	border:1px solid #eebd54;
	background-color:#fffee6;
	position:relative;
	z-index:0;
	zoom:1
}
.panel-t2 .panel-content{
	position:relative;
	z-index:2
}
.panel-t2 .co1,.panel-t2 .co1 span,.panel-t2 .co2,.panel-t2 .co2 span{
	position:relative;
	display:block;
	clear:both;
	font-size:0;
	height:4px;
	background:url(../images/bg_corn4.png) no-repeat
}
.panel-t2 .co1{
	position:absolute;
	top:0
}
.panel-t2 .co1,.panel-t2 .co2{
	width:100%;
	right:-1px
}
.panel-t2 .co1 span,.panel-t2 .co2 span{
	width:4px;
	left:-2px
}
.panel-t2 .co1{
	background-position:100% 0;
	top:-1px
}
.panel-t2 .co1 span{
	background-position:0 -8px
}
.panel-t2 .co2{
	position:absolute;
	background-position:100% -4px;
	bottom:-1px;
	_bottom:-2px
}
.panel-t2 .co2 span{
	background-position:0 -12px
}
.panel-t2 .close{
	width:14px;
	height:14px;
	display:block;
	overflow:hidden;
	text-indent:-9999px;
	background:url(../images/bg_act_close.png) no-repeat;
	position:absolute;
	top:7px;
	right:5px
}
.panel-t2 .panel-content .hd h3{
	font-weight:bold;
	font-size:12px;
	padding:7px 8px
}
.panel-t2-lb .cue,.panel-t2-lt .cue,.panel-t2-tl .cue,.panel-t2-tr .cue,.panel-t2-rt .cue,.panel-t2-rb .cue,.panel-t2-br .cue,.panel-t2-bl .cue{
	width:12px;
	height:13px;
	background:url(../images/sprites_cue.png) 0 0 no-repeat;
	position:absolute;
	z-index:5
}
.panel-t2-lb .cue{
	width:13px;
	height:12px;
	background-position:0 -40px;
	left:-12px;
	bottom:20px
}
.panel-t2-lt .cue{
	width:13px;
	height:12px;
	background-position:-40px -40px;
	left:-12px;
	top:20px
}
.panel-t2-tl .cue{
	background-position:-80px -40px;
	left:20px;
	top:-12px
}
.panel-t2-tr .cue{
	background-position:-120px -40px;
	right:20px;
	top:-12px
}
.panel-t2-rt .cue{
	background-position:-160px -40px;
	right:-12px;
	top:20px
}
.panel-t2-rb .cue{
	background-position:-200px -40px;
	right:-12px;
	bottom:20px
}
.panel-t2-br .cue{
	background-position:-240px -40px;
	right:20px;
	bottom:-12px
}
.panel-t2-bl .cue{
	background-position:-280px -40px;
	left:20px;
	bottom:-12px
}
.panel-t3{
	position:relative;
	zoom:1;
	z-index:0;
	_padding-bottom:3px;
	_overflow-y:hidden
}
.panel-t3 .panel-content{
	position:relative;
	z-index:2;
	border:1px solid #1dace8;
	background:#fff
}
.panel-t3 .panel-content .hd{
	background:#bfecff
}
.panel-t3 .panel-content .hd h3{
	font-size:12px;
	font-weight:bold;
	color:#000;
	padding:5px 7px 3px 7px
}
.panel-t3 .sd{
	display:block;
	background:#333;
	width:100%;
	height:100%;
	_height:3000px;
	position:absolute;
	top:3px;
	left:3px;
	z-index:-1;
	opacity:.20;
	filter:alpha(opacity="20")
}
.panel-t3 .close{
	width:14px;
	height:14px;
	display:block;
	overflow:hidden;
	text-indent:-9999px;
	background:url(../images/bg_act_close.png) no-repeat;
	position:absolute;
	top:7px;
	right:8px
}
.panel-t4{
	position:relative;
	zoom:1;
	z-index:0;
	_padding-bottom:2px;
	_overflow-y:hidden
}
.panel-t4 .panel-content{
	position:relative;
	z-index:2;
	border:1px solid #f1c463;
	background:#fff
}
.panel-t4 .panel-content .hd{
	background:#f6deaa
}
.panel-t4 .panel-content .hd h3{
	font-size:14px;
	font-weight:bold;
	color:#000;
	padding:4px 7px 1px 7px
}
.panel-t4 .sd{
	display:block;
	background:#333;
	width:100%;
	height:100%;
	_height:3000px;
	position:absolute;
	top:3px;
	left:3px;
	z-index:-1;
	opacity:.20;
	filter:alpha(opacity="20")
}
.panel-t4 .close{
	width:14px;
	height:14px;
	display:block;
	overflow:hidden;
	text-indent:-9999px;
	background:url(../images/bg_act_close.png) no-repeat;
	position:absolute;
	top:7px;
	right:8px
}
.panel-t5{
	position:relative;
	zoom:1;
	z-index:0;
	_padding-bottom:3px;
	_overflow-y:hidden
}
.panel-t5 .panel-content{
	position:relative;
	z-index:2;
	border:1px solid #a1a1a1;
	background:#fff
}
.panel-t5 .panel-content .hd{
	background:#f6deaa
}
.panel-t5 .panel-content .hd h3{
	font-size:14px;
	font-weight:bold;
	color:#000;
	padding:4px 7px 1px 7px
}
.panel-t5 .sd{
	display:block;
	background:#333;
	width:100%;
	height:100%;
	_height:3000px;
	position:absolute;
	top:3px;
	left:3px;
	z-index:-1;
	opacity:.20;
	filter:alpha(opacity="20")
}
.panel-t5-lt .cue{
	width:18px;
	height:18px;
	display:block;
	overflow:hidden;
	text-indent:-9999px;
	background:url(../images/sprites_cue.png) -40px 0 no-repeat;
	position:absolute;
	top:30px;
	left:-17px
}
.panel-t6{
	position:relative;
	zoom:1;
	z-index:0;
	_padding-bottom:3px;
	_overflow-y:hidden
}
.panel-t6 .panel-content{
	position:relative;
	z-index:2;
	border:1px solid #6fa6c0;
	background:#fffee6
}
.panel-t6 .sd{
	display:block;
	background:#333;
	width:100%;
	height:100%;
	_height:3000px;
	position:absolute;
	top:3px;
	left:3px;
	z-index:-1;
	opacity:.20;
	filter:alpha(opacity="20")
}
.panel-t6 .close{
	width:14px;
	height:14px;
	display:block;
	overflow:hidden;
	text-indent:-9999px;
	background:url(../images/bg_act_close.png) no-repeat;
	position:absolute;
	top:7px;
	right:8px
}
.panel-t6 button{
	margin-right:15px
}
.panel-t7{
	position:relative;
	z-index:0;
	zoom:1
}
.panel-t7 .panel-content{
	zoom:1;
	position:relative;
	z-index:2;
	border:1px solid #c6c6c6;
	background-color:#fff
}
.panel-t7-t .panel-content,.panel-t7-l .panel-content{
	*filter:progid:DXImageTransform.Microsoft.Shadow(color='#bebebe',Direction=135,Strength=2);
	-moz-box-shadow:1px 1px 2px #bebebe;
	-webkit-box-shadow:1px 1px 2px #bebebe;
	box-shadow:1px 1px 2px #bebebe
}
.panel-t7-b .panel-content,.panel-t7-r .panel-content{
	*filter:progid:DXImageTransform.Microsoft.Shadow(color='#bebebe',Direction=315,Strength=2);
	-moz-box-shadow:-1px -1px 2px #bebebe;
	-webkit-box-shadow:-1px -1px 2px #bebebe;
	box-shadow:-1px -1px 2px #bebebe
}
.panel-t7 .close{
	width:10px;
	height:10px;
	display:block;
	overflow:hidden;
	text-indent:-9999px;
	background:url(../images/bg_act_close2.png) no-repeat;
	position:absolute;
	top:9px;
	right:9px
}
.panel-t7 .panel-content .hd h3{
	font-weight:bold;
	font-size:12px;
	padding:7px 8px
}
.panel-t7-t .cue,.panel-t7-b .cue,.panel-t7-l .cue,.panel-t7-r .cue{
	width:12px;
	height:8px;
	background:url(../images/sprites_cue2.png) 0 0 no-repeat;
	position:absolute;
	z-index:5
}
.panel-t7-t .cue{
	background-position:0 0;
	left:20px;
	top:-7px
}
.panel-t7-b .cue{
	background-position:-22px 0;
	left:20px;
	bottom:-7px;
	_bottom:-14px
}
.panel-t7-l .cue{
	width:8px;
	height:12px;
	background-position:-62px 0;
	left:-7px;
	top:20px
}
.panel-t7-r .cue{
	width:8px;
	height:12px;
	background-position:-44px 0;
	right:-7px;
	*right:-9px;
	_right:-7px;
	top:20px
}
.panel-login{
	margin:10px
}
.panel-login .s1{
	border:1px solid #ffde6a;
	background:url(../images/bg_mantle_notice.png) 7px no-repeat #feffea;
	font-size:12px;
	padding:5px 7px 4px 27px
}
.panel-login ul{
	margin:13px 0 0 13px
}
.panel-login li{
	zoom:1;
	margin-bottom:5px
}
.panel-login li:after{
	content:'';
	visibility:hidden;
	display:block;
	height:0;
	clear:both
}
.panel-login .k{
	float:left;
	width:52px;
	font-size:14px
}
.panel-login .v{
	float:left;
	font-size:12px
}
.panel-login .submit button{
	vertical-align:middle;
	margin-right:7px
}
.panel-login .s2{
	border-top:1px solid #b2b2b2;
	padding-top:13px;
	text-align:center
}
.panel-login .s2 h4{
	font-size:14px;
	font-weight:bold;
	text-align:left
}
.panel-login .s2 button{
	clear:both;
	padding:0 52px;
	margin:7px 0
}
.bb-confirm-success{
	background:url(../images/bgs_okay.png) 35px 35px no-repeat #f5fafd;
	padding:35px 20px 35px 94px
}
.bb-confirm-success h4{
	font-size:14px;
	font-weight:bold;
	color:#2f7c09
}
.bb-confirm-success p{
	font-size:12px;
	margin-top:4px
}
.bb-confirm-success p.submit{
	margin-top:10px
}
.bb-confirm-warning{
	background:url(../images/bgs_alert.png) 35px 35px no-repeat #f5fafd;
	padding:35px 20px 35px 94px
}
.bb-confirm-warning h4{
	font-size:14px;
	font-weight:bold;
	color:#834e00
}
.bb-confirm-warning p{
	font-size:12px;
	margin-top:4px
}
.bb-confirm-warning p.submit{
	margin-top:10px
}
.bb-confirm-failure{
	background:url(../images/bgs_error.png) 35px 35px no-repeat #f5fafd;
	padding:35px 20px 35px 94px
}
.bb-confirm-failure h4{
	font-size:14px;
	font-weight:bold;
	color:#b90101
}
.bb-confirm-failure p{
	font-size:12px;
	margin-top:4px
}
.bb-confirm-failure p.submit{
	margin-top:10px
}
.bb-box-success{
	background:url(../images/bgs_okay.png) 35px 35px no-repeat #f5fafd;
	border:1px solid #6fa6c0;
	padding:35px 20px 35px 94px;
	min-height:50px;
	_height:50px;
	zoom:1
}
.bb-box-success h4{
	font-size:14px;
	font-weight:bold;
	color:#2f7c09
}
.bb-box-success p{
	font-size:12px;
	line-height:1.5;
	margin-top:4px
}
.bb-box-success p strong{
	color:#ff4a32
}
.bb-box-success ul{
	margin-top:10px
}
.bb-box-success li{
	list-style:disc;
	margin:4px 0 0 17px;
	font-size:12px
}
.bb-box-success h4.lonely{
	margin:0;
	padding:9px 0 0
}
.bb-box-warning{
	background:url(../images/bgs_alert.png) 35px 35px no-repeat #f5fafd;
	border:1px solid #6fa6c0;
	padding:35px 20px 35px 94px;
	min-height:50px;
	_height:50px;
	zoom:1
}
.bb-box-warning h4{
	font-size:14px;
	font-weight:bold;
	color:#834e00
}
.bb-box-warning p{
	font-size:12px;
	line-height:1.5;
	margin-top:4px
}
.bb-box-warning p strong{
	color:#ff4a32
}
.bb-box-warning ul{
	margin-top:10px
}
.bb-box-warning li{
	list-style:disc;
	margin:4px 0 0 17px;
	font-size:12px
}
.bb-box-warning h4.lonely{
	margin:0;
	padding:9px 0 0
}
.bb-box-failure{
	background:url(../images/bgs_error.png) 35px 35px no-repeat #f5fafd;
	border:1px solid #6fa6c0;
	padding:35px 20px 35px 94px;
	min-height:50px;
	_height:50px;
	zoom:1
}
.bb-box-failure h4{
	font-size:14px;
	font-weight:bold;
	color:#b90101
}
.bb-box-failure p{
	font-size:12px;
	line-height:1.5;
	margin-top:4px
}
.bb-box-failure p strong{
	color:#ff4a32
}
.bb-box-failure ul{
	margin-top:10px
}
.bb-box-failure li{
	list-style:disc;
	margin:4px 0 0 17px;
	font-size:12px
}
.bb-box-failure h4.lonely{
	margin:0;
	padding:9px 0 0
}
.panel-help{
	position:relative;
	zoom:1;
	z-index:0;
	_padding-bottom:3px;
	_overflow-y:hidden
}
.panel-help .panel-content{
	position:relative;
	z-index:2;
	border:1px solid #808080;
	background:#fff
}
.panel-help .panel-content .hd{
	background:#e0e1e2 url(../images/sprites_gra.png) repeat-x 0 -320px;
	border-bottom:1px solid #CCC
}
.panel-help .panel-content .hd h3{
	font-size:12px;
	font-weight:bold;
	color:#000;
	padding:2px 8px 2px 8px
}
.panel-help .panel-content .bd{
	font-size:12px;
	padding:5px 10px 10px;
	background:#f2f2f2;
	color:#333;
	line-height:1.7
}
.panel-help .close{
	width:25px;
	height:15px;
	display:block;
	overflow:hidden;
	text-indent:-9999px;
	background:url(../images/panel_help_close.png) no-repeat;
	position:absolute;
	top:4px;
	right:8px
}
.panel-help .close:hover{
	background-position:0 -15px
}
.panel-cal{
	position:relative;
	z-index:0;
	zoom:1
}
.panel-cal .panel-content{
	position:relative;
	z-index:2
}
.panel-cal .close{
	width:14px;
	height:14px;
	display:block;
	overflow:hidden;
	text-indent:-9999px;
	background:url(../images/bg_act_close.png) no-repeat;
	position:absolute;
	top:7px;
	right:5px
}
.panel-cal .panel-content .hd h3{
	font-weight:bold;
	font-size:12px;
	padding:7px 8px
}
#hd{
	position:relative;
	z-index:100
}
.gm-master .select,.gm-master-tool .select .jlist,#cate_nav ul #cate_nav li,#cate_nav li.cur,#cate_nav li.cur a strong,#cate_nav li.cur a:hover strong,#cate_nav .x1,#cate_nav .x1a,.gm-master-1 .gm-master-search-form .gm-master-inp,.gm-master-1 .gm-master-search-form input,.gm-master-1 .gm-master-search-form button,a.btn-im-online2,.crumbs-nav .all-cate,#cate_nav ul{
	background:url(../images/spr_hd.png) no-repeat
}
.gm-master span.x1,.gm-master span.x1a,.gm-master span.x2,.gm-master span.x2a,.gm-master-tool,.gm-master-area .cut_off,#cate_nav li.cur a,#cate_nav li.cur a:visited,#cate_nav li.cur a:hover,#cate_nav li.cur a:active,.gm-master-1 .gm-master-search-form label,.gm-master-2 .gm-master-tool .user_menu a,.gm-master-2 .gm-master-search-form button,.gm-master-2 .cate-nav,.gm-master-2 .cate-nav ul,.gm-master-2 .cate-nav li,.gm-master-2 .cate-nav .all_cate a.cate_nav_item,.gm-master-2 .cate-nav .selected,#ft .ft_link,a.btn-im-offline2,.gm-master-logo.gm-master-logo-city .text-logo{
	background:url(../images/spr_hd_grey.png) no-repeat
}
.gm-master{
	position:relative;
	zoom:1;
	z-index:2
}
.gm-master:after{
	content:".";
	display:block;
	height:0;
	clear:both;
	visibility:hidden
}
.gm-master .select{
	display:inline-block;
	*display:inline;
	*zoom:1;
	height:19px;
	background-position:100% -37px;
	cursor:pointer;
	_cursor:hand;
	color:#0045df;
	text-align:left
}
.gm-master .select span{
	padding:0 24px 0 6px
}
.gm-master .x1,.gm-master .x1a,.gm-master .x2,.gm-master .x2a,#cate_nav .x1,#cate_nav .x1a{
	display:block;
	clear:both;
	font-size:0;
	text-align:left;
	position:absolute
}
.gm-master .x1{
	right:0
}
.gm-master-tool{
	line-height:14px;
	*line-height:15px;
	position:relative;
	background-repeat:repeat-x;
	background-position:0 -83px;
	color:#999;
	text-align:right;
	font-family:'ËÎÌå',SimSun
}
.gm-master-tool a{
	margin:0 6px 0 8px;
	color:#333
}
.gm-master-tool strong{
	color:#333;
	font-family:Arial
}
.gm-master-tool .login_info{
	color:#333;
	position:absolute;
	line-height:16px;
	left:25px;
	top:5px;
	*top:6px
}
.gm-master-tool .select{
	margin:0 0 0 4px;
	width:70px;
	position:relative;
	z-index:2
}
.gm-master-tool .select .jlist{
	position:absolute;
	z-index:100;
	left:0;
	top:17px;
	width:70px;
	background-position:100% bottom
}
.gm-master-tool .select .jlist ul{
	border-top:1px solid #bebebe;
	margin:0 2px 0 1px;
	padding-top:2px
}
.gm-master-tool .select .jlist li{
	padding:1px 0 0 5px
}
.gm-master-tool .select .jlist li a{
	margin:0
}
.gm-master-tool .btn-mall{
	margin-right:0;
	display:inline-block;
	*display:inline;
	*zoom:1;
	width:64px;
	height:19px;
	text-align:center;
	background-position:-97px -37px;
	color:#fff;
	text-decoration:none
}
.gm-master-tool .btn-mall span{
	display:inline-block;
	*display:inline;
	*zoom:1;
	height:19px;
	cursor:pointer;
	_cursor:hand
}
.gm-master-tool .btn-mall:hover{
	color:#fff;
	text-decoration:none
}
.gm-master-tool a.login{
	color:#06c
}
.gm-master-tool span.x1,.gm-master-tool span.x1a{
	height:20px;
	width:25px
}
.gm-master-tool span.x1{
	background-position:0 -63px;
	top:6px
}
.gm-master-tool span.x1a{
	background-position:-52px -63px;
	left:-925px
}
.gm-master-logo{
	float:left;
	_display:inline;
	height:60px
}
.gm-master-logo a{
	text-decoration:none;
	float:left;
	width:174px;
	overflow:hidden
}
.gm-master-logo img{
	display:block
}
.gm-master-logo .text-logo{
	float:left;
	font:normal normal 26px/40px 'YaHei','Î¢ÈíÑÅºÚ','ºÚÌå';
	color:#333;
	text-indent:10px;
	width:87px
}
.gm-master-logo.gm-master-logo-city .text-logo{
	font:normal normal 12px/58px 'ËÎÌå';
	color:#999;
	margin-left:-1px;
	background-position:-76px -1px;
	width:88px
}
.gm-master-search{
	_display:inline
}
.gm-master-search .gm-master-search-form legend{
	display:none
}
.gm-master-search .gm-master-search-form input.focus{
	color:#000
}
.gm-master-search-rst .gm-master-inp{
	width:389px
}
.gm-master-search-rst input{
	width:377px
}
.gm-master-search-rst .rstcat{
	position:absolute;
	width:106px;
	top:3px;
	left:200px;
	color:#666;
	font-size:12px
}
.gm-master-search-rst .rstbar{
	border-left:1px solid #5ca615;
	background:url(../images/hd_bg.png) -287px -65px no-repeat;
	height:24px;
	line-height:24px;
	cursor:pointer
}
.gm-master-search-rst .rstbar h3{
	margin-left:7px;
	width:72px;
	text-overflow:ellipsis;
	white-space:nowrap;
	overflow:hidden
}
.gm-master-search-rst .rstcat ul{
	position:absolute;
	border:1px solid #5ba515;
	width:105px;
	top:25px;
	background:#fff;
	display:none;
	padding:1px
}
.gm-master-search-rst .gm-master-inp-only input{
	width:377px
}
.gm-master-search-rst .rstcat li{
	width:105px
}
.gm-master-search-rst .rstcat li a{
	color:#666;
	width:91px;
	display:block;
	padding:3px 7px;
	zoom:1;
	text-overflow:ellipsis;
	white-space:nowrap;
	overflow:hidden
}
.gm-master-search-rst .rstcat li.selected a,.gm-master-search-rst .rstcat li a:hover{
	text-decoration:none;
	background:#deefc5
}
.gm-master-search-rst .rstcat li.index a{
	padding:4px 7px
}
.gm-master-search .rstcat{
	visibility:hidden
}
.gm-master-search-rst .rstcat{
	visibility:visible
}
.gm-master-plus{
	float:left;
	_display:inline;
	width:2.8em;
	margin-top:28px;
	line-height:16px
}
.gm-master-plus a{
	color:#333;
	text-decoration:underline;
	display:inline-block;
	*display:inline;
	*zoom:1
}
#suggest-wrap{
	position:relative;
	z-index:15;
	_display:none
}
.panel-suggest{
	zoom:1;
	width:389px;
	margin:4px 0 0 -1px;
	_overflow-y:hidden
}
.panel-suggest table{
	border:1px solid #137eb4
}
.panel-suggest td{
	cursor:pointer;
	_cursor:hand
}
.autocomplete{
	cursor:default;
	text-align:left
}
.autocomplete b{
	background:url(../images/sprites_hp.png?v090902.png) no-repeat right -798px;
	padding-right:10px
}
.autocomplete .selectedentry{
	background:#deefc5
}
.autocomplete .unselectedentry{
	background:#fff
}
.autocomplete .unselectedkey{
	color:#525252;
	padding:3px;
	padding-left:10px;
	font-size:14px
}
.autocomplete .selectedkey{
	color:#000;
	padding:3px;
	padding-left:10px;
	font-size:14px
}
.autocomplete .unselectedval{
	color:#999;
	padding-right:7px;
	font-size:12px
}
.cate_list dl{
	float:left
}
.cate_list dt{
	color:#999
}
.cate_list dt a{
	font-weight:bold;
	color:#06c!important;
	font-size:14px;
	line-height:22px!important;
	padding:0 6px 0 0!important
}
.cate_list dd{
	line-height:20px
}
.cate_list dd a{
	display:inline-block;
	word-wrap:break-word;
	padding:0 11px 0 1px!important
}
a.highlight{
	color:#f30!important
}
.hr_rule{
	clear:both;
	margin:0;
	border:0;
	overflow:hidden;
	font-size:0;
	padding:0
}
#cate_nav{
	position:relative;
	overflow:hidden;
	height:49px
}
#cate_nav a{
	font-size:14px;
	display:block;
	line-height:39px;
	color:#FFF
}
#cate_nav a:visited,#cate_nav a:hover,#cate_nav a:active{
	text-decoration:none;
	color:#FFF
}
#cate_nav a:hover{
	text-decoration:underline
}
#cate_nav ul{
	margin:0 5px;
	background-color:#c00;
	background-repeat:repeat-x;
	background-position:0 -64px;
	padding:4px 0 7px
}
#cate_nav li{
	float:left;
	zoom:1;
	height:38px;
	_overflow-y:hidden;
	background-position:right -259px;
	margin-left:-2px
}
#cate_nav li.first{
	margin-left:0
}
#cate_nav li.last{
	background:0
}
#cate_nav li a{
	display:inline-block;
	height:38px;
	padding-left:16px
}
#cate_nav li strong{
	display:block;
	padding-right:16px
}
#cate_nav li a:hover{
	color:#fff882
}
#cate_nav li.cur{
	padding-left:1px;
	background-position:-87px -234px;
	background-color:#FFF;
	margin-right:2px
}
#cate_nav li.cur a,#cate_nav li.cur a:visited,#cate_nav li.cur a:hover,#cate_nav li.cur a:active{
	background-color:#ccc;
	background-repeat:repeat-x;
	background-position:0 -136px;
	color:#dd3742
}
#cate_nav li.cur a strong,#cate_nav li.cur a:hover strong{
	background-position:right -195px
}
#cate_nav .p_link{
	position:absolute;
	right:15px;
	top:0
}
#cate_nav .p_link a{
	float:left;
	line-height:48px;
	display:inline
}
#cate_nav .p_link a:link,#cate_nav .p_link a:visited,#cate_nav .p_link a:hover,#cate_nav .p_link a:active{
	color:#fff882
}
#cate_nav .p_link img{
	margin:7px 7px 7px 14px;
	float:left;
	position:relative;
	top:8px
}
#cate_nav .x1,#cate_nav .x1a{
	background-position:0 -113px;
	width:5px;
	height:49px
}
#cate_nav .x1{
	right:0;
	top:0
}
#cate_nav .x1a{
	left:-945px;
	background-position:-84px -113px
}
.gm-master-1{
	padding-bottom:29px
}
.gm-master-1 .gm-master-logo{
	margin:38px 12px 0 119px
}
.gm-master-1 .gm-master-tool{
	position:relative;
	height:19px;
	padding:6px 25px 0;
	border-bottom:1px solid #cecece;
	border-top:0;
	background-color:#FFF
}
.gm-master-1 .gm-master-city{
	position:absolute;
	top:8px;
	left:10px
}
.gm-master-1 .gm-master-search{
	float:left
}
.gm-master-1 .gm-master-search .gm-master-search-form{
	position:relative;
	width:442px;
	margin-top:38px;
	background-color:#f5f5f4;
	border:1px solid #eeeded;
	padding:4px;
	padding-right:0
}
.gm-master-1 .gm-master-search-form .gm-master-inp{
	float:left;
	overflow:hidden;
	width:348px;
	height:31px;
	background-position:-87px -32px;
	background-color:#fff;
	border:1px solid #d80000;
	border-right:0;
	position:relative
}
.gm-master-1 .gm-master-search-form label{
	color:#cecece;
	cursor:text;
	position:absolute;
	padding-left:20px;
	background-position:-64px -170px;
	background-color:#fff;
	*line-height:22px;
	left:15px;
	top:11px;
	font-size:14px
}
.gm-master-1 .gm-master-search-form input{
	width:100%;
	height:29px;
	line-height:29px;
	text-indent:8px;
	color:#ccc;
	background-repeat:repeat-x;
	background-color:#fff;
	border:0;
	margin-left:2px;
	outline:0;
	font-size:14px;
	float:left
}
.gm-master-1 .gm-master-search-form button{
	cursor:pointer;
	border:0;
	height:33px;
	width:89px;
	background-position:0 -162px;
	background-color:#c00;
	font-size:14px;
	font-weight:bold;
	color:#fff;
	float:left;
	cursor:pointer
}
.gm-master-1 .gm-master-search-form .x1,.gm-master-1 .gm-master-search-form .x1a,.gm-master-1 .gm-master-search-form .x2,.gm-master-1 .gm-master-search-form .x2a{
	height:1px;
	width:1px;
	background:#f5f4f4
}
.gm-master-1 .gm-master-search-form .x1,.gm-master-1 .gm-master-search-form .x2{
	right:-1px
}
.gm-master-1 .gm-master-search-form .x1{
	top:-1px
}
.gm-master-1 .gm-master-search-form .x2{
	bottom:-1px
}
.gm-master-1 .gm-master-search-form .x1a,.gm-master-1 .gm-master-search-form .x2a{
	left:-491px
}
.gm-master-1 .gm-master-hot-word{
	width:500px;
	border-bottom:1px solid #eee;
	position:relative;
	line-height:25px;
	padding-left:3px
}
.gm-master-1 .gm-master-hot-word a{
	padding-left:4px;
	color:#666;
	text-decoration:none
}
.gm-master-1 .gm-master-hot-word a.hot,.gm-master-1 .gm-master-hot-word a:hover{
	color:#f30
}
.gm-master-1 .gm-master-hot-word .x1,.gm-master-1 .gm-master-hot-word .x1a{
	height:1px;
	width:38px
}
.gm-master-1 .gm-master-hot-word .x1{
	background-position:-39px 0;
	bottom:-1px;
	_bottom:-2px
}
.gm-master-1 .gm-master-hot-word .x1a{
	left:-506px
}
.gm-master-2 .gm-master-logo{
	margin:8px 32px 8px 6px
}
.gm-master-2 .gm-master-tool{
	background:0
}
.gm-master-2 .gm-master-tool span,.gm-master-2 .gm-master-search-form{
	display:block;
	height:25px
}
.gm-master-2 .gm-master-tool span{
	float:left
}
.gm-master-2 .gm-master-tool,.gm-master-2 .gm-master-search-form{
	float:right;
	padding-top:17px
}
.gm-master-2 .gm-master-tool a{
	overflow:hidden;
	display:inline-block;
	line-height:20px;
	*line-height:22px
}
.gm-master-2 .gm-master-tool a:hover{
	color:#666
}
.gm-master-2 .gm-master-tool .user_login a,.gm-master-2 .gm-master-tool .user_login strong{
	padding-top:2px
}
.gm-master-2 .gm-master-tool .user_login strong{
	display:block;
	float:left;
	line-height:18px;
	*line-height:20px
}
.gm-master-2 .gm-master-tool .login strong,.gm-master-2 .gm-master-tool .login a,.gm-master-2 .gm-master-tool .logout{
	display:block;
	float:left;
	line-height:18px;
	*line-height:20px;
	margin-top:2px
}
.gm-master-2 .gm-master-tool .user_menu a{
	text-decoration:none;
	background-position:0 -39px;
	background-color:#fefefe;
	width:63px;
	height:20px;
	text-align:center;
	margin:2px
}
.gm-master-2 .gm-master-tool .user_menu a.two_word{
	background-position:0 -20px;
	width:39px
}
.gm-master-2 .gm-master-search-form{
	width:174px;
	position:relative;
	padding-top:19px;
	overflow:hidden;
	margin-right:-2px;
	margin-left:7px
}
.gm-master-2 .gm-master-search-form label{
	position:absolute;
	left:5px;
	top:20px;
	*top:22px;
	line-height:16px;
	cursor:text;
	color:#7f7f7f
}
.gm-master-2 .gm-master-search-form input{
	height:16px;
	width:124px;
	line-height:16px;
	border:#bbb 1px solid;
	float:left;
	margin-right:4px
}
.gm-master-2 .gm-master-search-form button{
	background-position:0 -20px;
	background-color:#fefefe;
	float:left;
	width:39px;
	height:20px;
	display:block;
	border:0;
	padding:0;
	cursor:pointer
}
.gm-master-2 .gm-master-search-form button span{
	margin-top:-4px;
	*margin-top:2px;
	display:block
}
.gm-master-2 .cate-nav{
	position:relative;
	clear:right;
	background-position:right -245px;
	padding-right:3px;
	height:30px;
	float:right;
	*float:none
}
.gm-master-2 .cate-nav ul{
	float:right;
	position:relative;
	z-index:9;
	background-position:left -245px;
	padding:5px 0 0 3px
}
.gm-master-2 .cate-nav li{
	float:left;
	height:20px;
	overflow:hidden;
	line-height:21px;
	background-color:#f2f2f2;
	background-position:right -193px
}
.gm-master-2 .cate-nav a{
	padding:0 6px;
	line-height:20px;
	*line-height:22px
}
.gm-master-2 .cate-nav a,.gm-master-2 .cate-nav a.cate_nav_item:visited,.gm-master-2 .cate-nav a{
	color:#333
}
.gm-master-2 .cate-nav a:hover{
	color:#666
}
.gm-master-2 .cate-nav li.selected{
	background-position:0 -109px;
	width:77px;
	height:27px;
	margin:0 -3px 0 -2px;
	_margin-top:-5px;
	position:relative;
	top:-5px;
	_top:0;
	overflow:visible
}
.gm-master-2 .cate-nav li.all_cate.selected a.cate_nav_item{
	height:25px;
	width:57px;
	line-height:26px;
	*line-height:28px;
	background-position:56px -212px;
	padding:0 10px 0 6px;
	background-color:#FFF;
	position:relative;
	z-index:2;
	margin-top:2px
}
.gm-master-2 .cate-nav .all_cate{
	background-position:999px;
	background-color:#f2f2f2
}
.gm-master-2 .cate-nav .all_cate a.cate_nav_item{
	display:block;
	padding-right:14px;
	background-position:54px -216px;
	margin:2px;
	margin-bottom:0;
	margin-top:0
}
.gm-master-2 .cate_list{
	width:946px;
	text-align:left;
	position:absolute;
	border:2px solid #e8e8e8;
	top:25px;
	z-index:1;
	right:0;
	_right:-1px;
	background:url(../images/data_bg_cate_list.png) 302px 0 repeat-y #FFF;
	padding-bottom:8px
}
.gm-master-2 .cate_list dl{
	float:none;
	display:inline-block;
	*display:inline;
	width:286px;
	padding:12px 8px 0;
	vertical-align:top;
	overflow:hidden;
	*zoom:1
}
.gm-master-2 .cate_list dl a{
	background:0;
	margin:0 10px 0 0;
	padding:0 0 0 1px!important
}
.gm-master-2 .cate_list .hr_rule{
	width:90%;
	height:0
}
#ft{
	margin:10px auto;
	overflow:hidden
}
#ft p{
	text-align:center;
	color:#999;
	line-height:20px
}
#ft p a{
	color:#77c;
	text-decoration:underline
}
#ft p a:link,#ft p a:visited,#ft p a:hover,#ft p a:active{
	color:#999;
	text-decoration:none
}
#ft p a:hover{
	text-decoration:underline
}
#ft p img{
	vertical-align:middle
}
#ft p.ft_link{
	padding-top:10px;
	background-repeat:repeat-x;
	background-position:0 -279px
}
#ft p.ft_copy img{
	position:relative;
	top:-2px
}
#ft p.ft_v_imgs{
	height:50px;
	line-height:50px
}
#ft p.ft_v_imgs img{
	border:solid #ddd 1px;
	margin:auto 5px;
	*margin:10px 5px
}
a.btn-im-online,a.btn-im-offline{
	width:80px;
	height:21px;
	line-height:21px;
	background:url(../images/btn_hi.gif) 0 -21px no-repeat;
	overflow:hidden;
	display:-moz-inline-box;
	display:inline-block;
	vertical-align:middle;
	margin-top:-3px;
	*margin-top:0
}
a.btn-im-offline{
	background:url(../images/btn_hi.gif) no-repeat
}
a.btn-im-online2,a.btn-im-offline2{
	cursor:pointer;
	width:16px;
	height:16px;
	margin:0 6px 0 -4px;
	position:relative;
	top:-3px;
	background-position:0 -40px;
	overflow:hidden;
	display:-moz-inline-box;
	display:inline-block;
	text-indent:28px;
	color:#414141;
	text-decoration:none;
	vertical-align:middle
}
a.btn-im-offline2{
	background-position:-58px -3px;
	color:#666
}
.crumbs-nav{
	position:relative;
	z-index:2;
	font-family:SimSun;
	margin:0 0 9px;
	height:20px;
	line-height:20px;
	zoom:1;
	padding-top:1px
}
.crumbs-nav:after{
	content:".";
	display:block;
	height:0;
	clear:both;
	visibility:hidden
}
.crumbs-nav .all-cate{
	display:none;
	margin:-1px 19px 0 0;
	float:left;
	_display:inline;
	background-position:0 -320px;
	width:77px;
	height:20px;
	overflow:hidden;
	font-size:0;
	line-height:0;
	cursor:pointer;
	_cursor:hand;
	color:transparent
}
.panel-all-cate{
	position:absolute;
	top:20px;
	left:0
}
.panel-all-cate .cate-group-ul{
	width:90px;
	border:1px solid #d31403;
	font-weight:bold;
	padding:5px 0;
	background-color:#fff;
	font-size:14px;
	*filter:progid:DXImageTransform.Microsoft.Shadow(color='#000000',Direction=135,Strength=2);
	-moz-box-shadow:1px 1px 2px #000;
	-webkit-box-shadow:1px 1px 2px #000;
	box-shadow:1px 1px 2px #000
}
.panel-all-cate .cate-group{
	zoom:1;
	height:29px
}
.panel-all-cate .cate-group div{
	zoom:1;
	margin:0 6px;
	padding:4px 0;
	border-top:1px dashed #d7d4d4;
	background:#fff url(../images/spr_cate.png) no-repeat 70px 10px
}
.panel-all-cate .cate-group a{
	color:#333
}
.panel-all-cate .first div{
	border-top:1px solid #fff
}
.panel-all-cate .selected{
	position:relative;
	height:29px;
	margin-right:-4px;
	*margin-bottom:-4px;
	background:#000 url(../images/spr_cate.png) repeat-x left bottom
}
.panel-all-cate .selected div{
	position:absolute;
	top:0;
	left:0;
	z-index:1;
	width:89px;
	margin:0;
	padding:4px 0 1px 6px;
	border-top:1px solid #d31403;
	border-bottom:1px solid #d31403;
	background-position:76px 9px;
	background-color:#f7f7f7
}
.panel-all-cate .selected .cate-option{
	position:absolute;
	left:94px;
	top:0;
	z-index:-1;
	border:1px solid #d31403;
	padding:0;
	width:230px;
	*filter:progid:DXImageTransform.Microsoft.Shadow(color='#000000',Direction=135,Strength=2);
	-moz-box-shadow:1px 1px 2px #000;
	-webkit-box-shadow:1px 1px 2px #000;
	box-shadow:1px 1px 2px #000;
	background:#f7f7f7
}
.panel-all-cate .cate-option ul{
	margin:5px 16px
}
.panel-all-cate .cate-option li{
	float:left;
	_display:inline;
	width:49.9%;
	padding:2px 0;
	background:url(../images/spr_cate.png) no-repeat 0 -40px;
	text-indent:9px
}
.panel-all-cate .cate-option a{
	font-weight:normal;
	color:#24d
}
.global-page{
	line-height:1.6!important
}
.global-page a,.global-page span{
	display:inline-block;
	*display:inline;
	*zoom:1;
	border:1px solid #bfbfbf;
	color:#06e;
	background:#fff;
	padding:0 6px;
	margin-right:2px;
	text-decoration:none;
	vertical-align:middle
}
.global-page a:hover{
	border:1px solid #06e;
	background:#06e;
	color:#fff;
	text-decoration:none!important
}
.global-page span{
	color:#bfbfbf
}
.global-page span.global-page-break{
	border:0;
	color:#04d;
	background:0
}
.global-page span.select{
	border:0;
	font-weight:bold;
	color:#333
}
.global-page .global-page-next,.global-page .global-page-previous{
	font-family:tahoma
}
.global-page .global-page-next{
	*height:17px;
	_height:auto;
	*padding-top:2px;
	_padding-top:0;
	overflow:hidden
}
.global-page span.global-page-next{
	background:0;
	color:#bfbfbf
}
.global-page input{
	width:24px;
	text-align:center;
	vertical-align:middle
}
.global-page button{
	font-size:12px;
	vertical-align:middle
}
.tips-box{
	background-color:#feffea;
	border:1px solid #ffe067;
	padding:5px 20px
}
.tips-box .k,.tips-box .v{
	display:block
}
.tips-box .k{
	float:left;
	height:18px;
	line-height:18px;
	width:97px;
	text-indent:28px;
	color:#f00;
	background:url(../images/bg_tips_box.png) no-repeat 0 2px;
	*background-position:0 1px
}
.tips-box .v{
	margin-left:97px
}
.panel-city{
	margin:4px 7px;
	text-align:left
}
.panel-city .section h4{
	font-weight:normal
}
.panel-city .section ul li{
	color:#666;
	margin-bottom:5px
}
.panel-city .section ul li a{
	color:#666;
	display:block;
	padding:0 2px
}
.panel-city .section ul li a:hover{
	color:#fff;
	background-color:#24d;
	text-decoration:none
}
.panel-city .history{
	border-bottom:1px dashed #c6c6c6
}
.panel-city .history h4{
	padding:3px 2px
}
.panel-city .hot h4{
	padding:8px 2px 4px
}
.form{
	zoom:1
}
.form ul li{
	clear:both;
	margin-bottom:13px;
	zoom:1
}
.form ul li:after{
	content:".";
	display:block;
	height:0;
	clear:both;
	visibility:hidden
}
.form ul .k{
	display:inline-block;
	*display:inline;
	*zoom:1;
	margin-right:4px;
	text-align:right
}
.form ul .v{
	margin-right:20px
}
.form ul em{
	color:#666
}
.login-panel{
	margin:50px auto;
	width:410px
}
.login-panel .ipt{
	width:200px
}
.login-panel .k{
	width:50px
}
.login-panel .third{
	padding-top:30px
}
.login-panel .third dt{
	color:#999;
	border-bottom:1px solid #999
}
.login-panel .third dd{
	float:left;
	padding:10px 15px 3px 0
}
.login-panel .login-btn,.login-panel .reg-btn{
	background:url("../images/spr_bg.png") no-repeat scroll 0 0
}
.login-panel .third .baidu span,.login-panel .third .qq span,.login-panel .third .sina span,.login-panel .third .renren span,.login-panel .third .kaixin span{
	background:url("../images/spr_bg.png") no-repeat scroll 0 0;
	width:16px;
	height:16px;
	display:block;
	float:left;
	margin-right:5px
}
.login-panel .login-btn,.login-panel .reg-btn{
	background-position:-20px -341px;
	border:0;
	color:#fff;
	cursor:pointer;
	font-size:14px;
	font-weight:bold;
	height:34px;
	margin-right:5px;
	width:79px
}
.login-panel .third .baidu span{
	background-position:-284px -578px
}
.login-panel .third .qq span{
	background-position:-246px -358px
}
.login-panel .third .sina span{
	background-position:-213px -358px
}
.login-panel .third .renren span{
	background-position:-247px -341px
}
.login-panel .third .kaixin span{
	background-position:-230px -341px
}
.login-panel .vcode-img{
	height:30px;
	margin:auto 7px;
	vertical-align:middle;
	width:68px
}
#pn-vcode-text{
	width:80px
}
