body{
    background:#eee;
    text-align:left
}
a:link,a:visited,a:active{
    color:#136bad;
    text-decoration:none
}
a:hover{
    color:#136bad;
    text-decoration:underline
}
a img,img{
    vertical-align:top
}
.gl-w,#bd.gl-w{
    width:980px;
    margin-left:auto;
    margin-right:auto
}
.f-l{
    float:left
}
.f-r{
    float:right
}
.doc-ex-1 #main{
    float:left;
    width:100%
}
.doc-ex-1 #main .inner{
    margin-right:245px
}
.doc-ex-1 #aside{
    float:left;
    width:230px;
    margin-left:-230px
}
.i-v{
    display:inline-block;
    width:12px;
    height:18px;
    margin-left:5px;
    background:url(../images/i_v.png) no-repeat 0 0;
    vertical-align:middle
}
.btns-ex,.btns-ex span{
    display:inline-block;
    background:url(../images/spr_btns_ex.png) no-repeat;
    cursor:pointer
}
.btns-ex:hover,.btns-ex:hover span,.btns-ex:active,.btns-ex:active span{
    text-decoration:none
}
.btn-ex-t1{
    display:block;
    height:30px;
    padding-left:2px;
    background-position:0 -122px
}
.btn-ex-t1 span{
    display:block;
    height:30px;
    line-height:30px;
    padding-right:2px;
    background:url(../images/spr_btns_ex.png) no-repeat right -122px;
    color:#333;
    text-align:center
}
.btn-ex-t1:hover{
    background-position:0 -152px
}
.btn-ex-t1:hover span{
    background-position:right -152px;
    color:#fff
}
.btn-ex-t2{
    height:26px;
    padding-left:2px;
    background-position:0 -183px
}
.btn-ex-t2 span{
    height:26px;
    line-height:26px;
    *line-height:28px;
    padding:0 10px 0 8px;
    background-position:right -183px;
    color:#333;
    text-align:center;
    color:#fff;
    overflow:hidden
}
.btn-ex-t2:hover{
    background-position:0 -209px
}
.btn-ex-t2:hover span{
    background-position:right -209px;
    color:#fff
}
.btn-ex-t2:active{
    background-position:0 -235px
}
.btn-ex-t2:active span{
    background-position:right -235px;
    color:#fff
}
.btn-ex-t3{
    height:26px;
    padding-left:2px;
    background-position:0 -262px;
    cursor:default
}
.btn-ex-t3 span{
    height:26px;
    line-height:26px;
    *line-height:28px;
    padding:0 10px 0 8px;
    background-position:right -262px;
    color:#333;
    text-align:center;
    color:#999;
    cursor:default;
    overflow:hidden
}
.btn-ex-t4{
    height:26px;
    padding-left:2px;
    background-position:0 -289px;
    cursor:default
}
.btn-ex-t4 span{
    height:26px;
    line-height:26px;
    *line-height:28px;
    padding:0 10px 0 8px;
    background-position:right -289px;
    color:#333;
    text-align:center;
    color:#333;
    overflow:hidden
}
.btn-ex-t4:hover{
    background-position:0 -315px
}
.btn-ex-t4:hover span{
    background-position:right -315px;
    color:#333
}
.btn-ex-t4:active{
    background-position:0 -341px
}
.btn-ex-t4:active span{
    background-position:right -341px;
    color:#333
}
.btn-ex-follow,.btn-ex-follow span,.btn-ex-hasfollow,.btn-ex-hasfollow span{
    display:inline-block;
    background:url(../images/spr_btns_ex.png) no-repeat;
    font-size:12px
}
.btn-ex-follow:link,.btn-ex-follow:visited{
    padding-left:18px;
    background-position:0 0
}
.btn-ex-follow:link span,.btn-ex-follow:visited span{
    height:18px;
    line-height:18px;
    padding:2px 5px 3px 0;
    *padding:3px 5px 2px 0;
    background-position:right 0;
    color:#fff
}
.btn-ex-follow:hover{
    background-position:0 -23px;
    cursor:pointer;
    text-decoration:none
}
.btn-ex-follow:hover span{
    background-position:right -23px
}
.btn-ex-follow:active{
    background-position:0 -46px
}
.btn-ex-follow:active span{
    background-position:right -46px
}
.btn-ex-hasfollow:link,.btn-ex-hasfollow:visited{
    padding-left:18px;
    background-position:0 -69px;
    cursor:default
}
.btn-ex-hasfollow:link span,.btn-ex-hasfollow:visited span{
    height:18px;
    line-height:18px;
    padding:2px 5px 3px 0;
    *padding:3px 5px 2px 0;
    background-position:right -69px;
    color:#999;
    cursor:default
}
.ico-stamp{
    display:inline-block;
    width:27px;
    height:15px;
    line-height:15px;
    overflow:hidden
}
.fix-block-r{
    position:fixed;
    _position:absolute;
    _bottom:auto
}
.back-top{
    background:url(../images/backtotop2.png) no-repeat 0 -50px;
    width:50px;
    height:50px;
    display:block;
    z-index:10
}
.back-top:hover{
    background-position:0 0
}
.switch-content .unselected{
    display:none
}
.switch-content .selected{
    overflow:hidden;
    display:block
}
#hd{
    padding-bottom:12px;
    background:#e5e5e5 url(../images/bg_hd_b.png) repeat-x 0 bottom
}
#hd .crumb-bg{
    background:url(../images/bg_hd_crumb.png) repeat-x 0 30px
}
#hd .crumb{
    height:18px;
    padding:7px 0 6px;
    color:#999
}
#hd .crumb a{
    color:#999
}
#hd .crumb em{
    margin:0 5px;
    font-family:微软雅黑E\8F6F\96C5\9ED1,"STXihei";
}
#hd .general{
    margin:10px 0 4px
}
#hd .general .name{
    float:left;
    margin-right:10px;
    color:#fa3c32;
    font:bold 24px FAE8F6F96C59ED1,"STXihei"
}
#hd .general a{
    float:left;
    _display:inline;
    margin-top:11px;
    margin-left:6px;
    vertical-align:baseline
}
#hd .general .name a{
    float:none;
    margin-top:0;
    margin-left:0;
    color:#fa3c32;
    text-decoration:none
}
#hd .general .node{
    margin-top:9px;
    margin-left:10px;
    color:#666
}
#hd .info{
    line-height:22px;
    color:#666;
    word-wrap:break-word;
    word-break:break-all
}
#hd .info li label{
    display:inline-block;
    width:68px
}
#hd .info li span{
    margin-right:20px
}
#hd .info li .tel,#hd .info li .mobile,.map-shop-phone .tel,.map-shop-phone.mobile{
    margin-right:10px
}
#hd .info li .map-locate{
    color:#666
}
#hd .info .hide{
    height:44px;
    overflow:hidden
}
#hd .info .fold a,#hd .info .unfold a{
    padding-right:10px;
    background:url(../images/spr_fold.png) no-repeat
}
#hd .info .fold a{
    background-position:right -36px;
    *background-position:right -37px
}
#hd .info .unfold a{
    background-position:right -96px;
    *background-position:right -97px
}
#hd .info .toggle a{
    color:#666
}
#hd .info .fold .toggle{
    color:#136bad
}
#nav{
    height:28px;
    padding:11px 0
}
#nav a{
    display:inline-block;
    height:28px;
    line-height:27px;
    *line-height:28px;
    padding:0 7px 0 5px;
    color:#666
}
#nav dl,#nav dt,#nav dd{
    float:left
}
#nav dl{
    _display:inline;
    height:28px;
    margin-left:8px;
    overflow:hidden
}
#nav dl.first{
    margin-left:0
}
#nav dt,#nav dd{
    padding-left:2px
}
#nav dt{
    font-size:14px
}
#nav dd{
    margin-left:1px
}
#nav dd a{
    line-height:28px
}
#nav .curr{
    background:#fa3c32 url(../images/spr_btns_ex.png) no-repeat 0 -93px;
    color:#fff;
    text-decoration:none
}
#nav .curr a{
    background:url(../images/spr_btns_ex.png) no-repeat right -93px;
    color:#fff
}
#nav .curr a:hover{
    text-decoration:none
}
#nav .bdr{
    float:left;
    height:16px;
    margin:6px 0 6px 8px;
    border-left:1px solid #ccc;
    width:1px;
    overflow:hidden
}
#nav .contact{
    float:right;
    height:28px
}
.slider{
    position:relative;
    height:270px;
    overflow:hidden
}
.slider .slide-img li{
    display:none
}
.slider .slide-img li a{
    display:block;
    height:270px
}
.slider .slide-img .selected{
    display:block;
    line-height:1
}
.slider .slide-num{
    position:absolute;
    right:4px;
    bottom:6px;
    z-index:10;
    clear:both
}
.slider .slide-num li{
    float:left;
    width:18px;
    height:18px;
    line-height:18px;
    margin-right:2px;
    background:rgba(255,255,255,.4);
    *filter:progid:DXImageTransform.Microsoft.Gradient(startColorStr=#66ffffff,endColorStr=#66ffffff);
    color:#000;
    cursor:pointer;
    text-align:center
}
.slider .slide-num li.selected{
    background:#fa3c32;
    *filter:progid:DXImageTransform.Microsoft.Gradient(startColorStr=#fffa3c32,endColorStr=#fffa3c32);
    color:#fff;
    cursor:default
}
.switch-fade .switch-content li{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    display:block;
    opacity:0
}
.sh-mod{
    margin-bottom:10px;
    background:#fff
}
.sh-mod .hd{
    height:40px;
    padding:0 15px;
    background:url(../images/bg_hd_crumb.png) repeat-x 0 bottom;
    color:#666;
    overflow:hidden;
    *zoom:1
}
.sh-mod .hd .n{
    float:left;
    font:bold 18px/38px 微软雅黑E\8F6F\96C5\9ED1,"STXihei"
}
.sh-mod .hd .more-link{
    float:right;
    height:20px;
    line-height:20px;
    margin-top:10px
}
.sh-mod .tab-hd li{
    float:left;
    margin-right:1px;
    font-family:FAE8F6F96C59ED1,"STXihei"
}
.sh-mod .tab-hd li a{
    display:inline-block;
    height:20px;
    line-height:18px;
    *line-height:20px;
    margin-top:10px;
    padding:0 15px 0 5px;
    background:#959595;
    color:#fff;
    font-size:14px;
    overflow:hidden
}
.sh-mod .tab-hd li a:hover{
    background:#666;
    text-decoration:none
}
.sh-mod .tab-hd .selected a,.sh-mod .tab-hd .selected a:hover{
    height:24px;
    line-height:22px;
    *line-height:26px;
    margin-top:8px;
    background:transparent none;
    color:#666;
    font-size:18px;
    font-family:FAE8F6F96C59ED1,"STXihei";
    font-weight:bold
}
.sh-mod .bd{
    padding:0 0 15px
}
.sh-mod .bd .pre{
    word-wrap:break-word;
    word-break:break-all;
    overflow:hidden
}
.sh-mod .tab-bd .selected{
    display:block
}
.sh-mod .tab-bd .unselected{
    display:none
}
#aside .sh-mod .hd .n{
    float:none
}
#aside .sh-mod .bd{
    margin-left:10px;
    margin-right:10px
}
.sh-mod .sub-hd{
    padding:15px 15px 0;
    margin-bottom:-5px;
    color:#666;
    font:16px/26px FAE8F6F96C59ED1,"STXihei"
}
.sh-mod .sub-hd h3{
    font-weight:normal
}
.mod-it-1{
    padding-left:15px
}
.mod-it-1 li{
    _display:inline;
    float:left;
    width:220px;
    height:225px;
    margin:15px 7px 0 0;
    padding:4px;
    border:1px solid #f1f1f1;
    overflow:hidden
}
.mod-it-1 .curr{
    border-color:#999
}
.mod-it-1 .img,.mod-it-1 .img a{
    display:block;
    width:220px;
    height:166px;
    margin:0 auto;
    overflow:hidden;
    text-align:center
}
.mod-it-1 .img a{
    display:table-cell;
    *display:block;
    line-height:0;
    vertical-align:middle;
    *font-size:148px
}
.mod-it-1 .img a img{
    vertical-align:middle
}
.mod-it-1 .txt .attr{
    width:100%;
    height:18px;
    line-height:18px;
    margin:8px 0 6px;
    white-space:nowrap;
    text-overflow:ellipsis;
    overflow:hidden
}
.mod-it-1 .txt .price{
    line-height:26px
}
.mod-it-1 .txt .price span{
    font-family:FAE8F6F96C59ED1,"STXihei"
}
.mod-it-1 .txt .price i{
    font-family:Arial
}
.mod-it-1 .txt .discount{
    margin-right:8px;
    color:#999;
    font-size:12px
}
.mod-it-1 .txt .discount i{
    color:#fa3c32;
    font-size:24px
}
.mod-it-1 .txt .original{
    color:#666
}
.mod-it-1 .txt .original i{
    text-decoration:line-through
}
.mod-it-2{
    padding-left:15px
}
.mod-it-2 li{
    position:relative;
    _display:inline;
    float:left;
    width:164px;
    height:198px;
    margin:15px 16px 0 0;
    padding:5px 0 5px 0;
    background:url(../images/spr_bg_it_2.png) repeat-y -164px 0
}
.mod-it-2 .i-certificate{
    position:absolute;
    top:5px;
    left:15px;
    width:25px;
    height:42px;
    line-height:16px;
    padding:1px 5px 0;
    background:url(../images/i_certificate.png) no-repeat 0 0;
    color:#fff
}
.mod-it-2 .x1,.mod-it-2 .x2{
    position:absolute;
    left:0;
    width:100%;
    height:5px;
    background:url(../images/spr_bg_it_2.png) no-repeat;
    overflow:hidden
}
.mod-it-2 .x1{
    top:0;
    background-position:0 0
}
.mod-it-2 .x2{
    bottom:0;
    background-position:0 -5px
}
.mod-it-2 .img,.mod-it-2 .img a{
    display:block;
    width:150px;
    height:150px;
    overflow:hidden;
    text-align:center
}
.mod-it-2 .img,.mod-it-2 .txt{
    margin:0 9px 0 5px
}
.mod-it-2 .img a{
    display:table-cell;
    *display:block;
    width:150px;
    height:150px;
    vertical-align:middle;
    *font-size:130px
}
.mod-it-2 .img a img{
    vertical-align:middle
}
.mod-it-2 .txt p{
    width:100%;
    height:18px;
    margin:3px 0 2px;
    color:#999;
    text-overflow:ellipsis;
    white-space:nowrap;
    overflow:hidden;
    text-align:center
}
.mod-it-3{
    padding-left:15px;
    padding-right:15px;
    overflow:hidden
}
.mod-it-3 li{
    position:relative;
    margin-top:-1px;
    padding:20px 0;
    background:url(../images/bg_hd_crumb.png) repeat-x 0 0;
    overflow:hidden;
    *zoom:1
}
.mod-it-3 li .img{
    float:left;
    width:150px;
    height:150px;
    padding:10px;
    border:1px solid #e1e1e1;
    text-align:center;
    overflow:hidden
}
.mod-it-3 .img a{
    display:table-cell;
    *display:block;
    width:150px;
    height:150px;
    line-height:0;
    vertical-align:middle;
    *font-size:130px
}
.mod-it-3 .img a img{
    vertical-align:middle
}
.mod-it-3 li .txt{
    line-height:20px;
    margin-left:180px;
    color:#666;
    *zoom:1
}
.mod-it-3 li .txt p{
    margin:5px 0;
    word-wrap:break-word;
    word-break:break-all
}
.mod-it-3 li .txt strong{
    font-size:14px;
    font-weight:bold
}
.mod-it-3 li .txt em{
    color:#999
}
.mod-it-3 li .txt i{
    color:#fa3c32;
    font-weight:bold
}
.mod-it-3 li .txt .inline{
    height:80px;
    overflow:hidden;
    text-overflow:ellipsis
}
.mod-it-3 li .txt .status{
    position:absolute;
    bottom:15px;
    right:0;
    overflow:hidden;
    text-align:right;
    *zoom:1
}
.mod-it-3 li .txt .gets{
    display:inline-block;
    line-height:26px;
    *line-height:28px;
    margin-right:10px;
    _font-family:微软雅黑E\8F6F\96C5\9ED1,"STXihei";;
    vertical-align:top
}
.mod-it-3 li .txt .btns-ex{
    font-weight:bold
}
.mod-it-4{
    padding-left:15px
}
.mod-it-4 li{
    _display:inline;
    float:left;
    width:150px;
    margin:15px 20px 0 0;
    padding:4px;
    border:1px solid #f1f1f1;
    overflow:hidden
}
.mod-it-4 .img,.mod-it-4 .img a{
    display:block;
    width:150px;
    height:150px;
    margin:0 auto;
    overflow:hidden;
    text-align:center
}
.mod-it-4 .img a{
    display:table-cell;
    *display:block;
    line-height:0;
    vertical-align:middle;
    *font-size:130px
}
.mod-it-4 .img a img{
    vertical-align:middle
}
.mod-it-4 .txt .attr{
    width:100%;
    height:18px;
    line-height:18px;
    margin:4px 0 2px;
    text-align:center;
    white-space:nowrap;
    text-overflow:ellipsis;
    overflow:hidden
}
.mod-t-1{
    padding:8px 15px 0
}
.mod-t-1 li{
    margin:7px 0 0
}
.mod-t-1 li dl{
    height:59px;
    padding:0 15px 0 72px;
    background:url(../images/spr_ico_discount.png) no-repeat;
    border:3px solid #eaf7df
}
.mod-t-1 .dst-1 dl{
    background-color:#f3fee9;
    background-position:14px 0;
    border-color:#eaf7df
}
.mod-t-1 .dst-2 dl{
    background-color:#fef3e7;
    background-position:14px -60px;
    border-color:#fbebdb
}
.mod-t-1 .dst-1 a{
    color:#5a9914
}
.mod-t-1 .dst-2 a{
    color:#fa7100
}
.mod-t-1 .dst-1 .curr{
    border-color:#c0e4a0
}
.mod-t-1 .dst-2 .curr{
    border-color:#fed3a5
}
.mod-t-1 li dt,.mod-t-1 li dd{
    height:18px;
    line-height:18px
}
.mod-t-1 li dt{
    width:100%;
    margin-top:10px;
    font-size:14px;
    font-family:FAE8F6F96C59ED1,"STXihei";
    font-weight:bold;
    overflow:hidden
}
.mod-t-1 li dd{
    margin-top:5px;
    color:#666
}
.mod-t-1 li dd span{
    float:left;
    width:400px;
    text-overflow:ellipsis;
    overflow:hidden;
    white-space:nowrap
}
.mod-t-1 li dd a{
    float:right
}
.mod-v-1{
    padding-left:15px
}
.mod-v-1 li{
    _display:inline;
    float:left;
    width:120px;
    margin:15px 24px 0 0
}
.mod-v-1 .img{
    position:relative;
    width:120px;
    height:80px;
    overflow:hidden
}
.mod-v-1 .img a{
    display:block;
    height:80px;
    text-align:center
}
.mod-v-1 .img .i-play{
    position:absolute;
    top:50%;
    left:50%;
    width:34px;
    height:34px;
    margin:-17px 0 0 -17px;
    background:url(../images/spr_btns_play.png) no-repeat 0 0;
    opacity:.6;
    *filter:alpha(opacity=60);
    cursor:pointer
}
.mod-v-1 .img a:hover .i-play{
    opacity:.8;
    *filter:alpha(opacity=80)
}
.mod-v-1 .txt{
    width:100%;
    height:18px;
    line-height:18px;
    padding:6px 0;
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis
}
.mod-loading{
    height:100px;
    background:url(../images/loading.gif) no-repeat center center;
    clear:both
}
.sh-more{
    margin-top:7px
}
.sh-more a:link,.sh-more a:visited,.sh-more a:active{
    display:block;
    height:18px;
    line-height:18px;
    margin:0 15px;
    padding:3px 10px;
    background:#f6f6f6;
    color:#999;
    text-align:right
}
.sh-more a:hover{
    background:#e5e5e5;
    color:#333;
    text-decoration:none
}
.sh-more em{
    display:inline-block;
    width:7px;
    height:18px;
    margin-left:5px;
    background:url(../images/spr_fold.png) no-repeat;
    vertical-align:middle;
    overflow:hidden;
    cursor:pointer
}
.sh-more .fold{
    background-position:0 -55px
}
.sh-more a:hover .fold{
    background-position:0 -75px
}
.sh-more .unfold{
    background-position:0 -15px
}
.sh-more a:hover .unfold{
    background-position:0 5px
}
.sh-more-toggle a:link,.sh-more-toggle a:visited,.sh-more-toggle a:hover,.sh-more-toggle a:active{
    text-align:center
}
#aside .sh-more a:link,#aside .sh-more a:visited,#aside .sh-more a:active{
    margin:0
}
.back2index{
    display:block;
    height:44px;
    margin:25px 0;
    background:url(../images/back2index.png) no-repeat center 0;
    opacity:.75;
    *filter:Alpha(opacity=75)
}
.back2index:hover{
    opacity:1;
    *filter:Alpha(opacity=100)
}
.shop-map .bd{
    padding:10px 0 0;
    text-align:center;
    *zoom:1
}
.shop-map .img div{
    padding:5px 0
}
.shop-feeds .bd{
    padding-top:10px;
    padding-bottom:10px
}
.shop-feeds .info .avatar{
    float:left;
    width:50px;
    height:50px;
    overflow:hidden
}
.shop-feeds .info .fn{
    margin-left:60px;
    font-size:14px
}
.shop-feeds .info .fn p{
    min-height:25px;
    _height:25px;
    word-wrap:break-word;
    word-break:break-all
}
.shop-feeds .info .fn p em{
    margin-left:5px;
    color:#999;
    font-size:12px;
    font-family:微软雅黑E\8F6F\96C5\9ED1,"STXihei";
}
.shop-feeds .feeds{
    margin-top:10px;
    padding-top:10px;
    border-top:2px solid #f1f1f1
}
.shop-feeds .feeds ul{
    overflow:hidden;
    *zoom:1
}
.shop-feeds .feeds .feeds-li{
    line-height:20px;
    margin-top:-1px;
    padding:5px;
    background:url(../images/bg_hd_crumb.png) repeat-x 0 0;
    color:#666;
    vertical-align:top;
    *zoom:1
}
.shop-feeds .feeds .feeds-li .p{
    margin-bottom:5px;
    word-wrap:break-word;
    word-break:break-all;
    vertical-align:baseline
}
.shop-feeds .feeds .feeds-li em,.shop-feeds .feeds .feeds-li em a{
    color:#999;
    *zoom:1
}
.shop-feeds .feeds .curr{
    background-color:#edf6fa
}
.shop-feeds .tools{
    line-height:22px;
    margin:8px 0!important;
    vertical-align:baseline;
    *zoom:1
}
.shop-feeds .tools span{
    float:left;
    margin:0 0 0 10px;
    *zoom:1
}
.shop-feeds .comment-post .arr-t{
    left:95%
}
.shop-feeds .comment-post,.shop-feeds .comment .comment-list{
    background:#fff;
    *zoom:1
}
.comment-list{
    width:100%;
    word-wrap:break-word;
    word-break:break-all;
    *zoom:1
}
.shop-feeds .comment-post .arr-t{
    background:url(../images/arr-t.png) no-repeat 0 0
}
.shop-feeds .comment .comment-post .txt{
    *zoom:1
}
.pop-nav{
    position:fixed;
    _position:absolute;
    top:310px;
    left:50%;
    width:72px;
    margin-left:-572px
}
.pop-nav dl{
    border-bottom:1px solid #bababa;
    text-align:center
}
.pop-nav dt{
    width:70px;
    height:18px;
    line-height:14px;
    margin:0 auto;
    padding-top:21px;
    background:#fa3c32 url(../images/bg_pop_nav.png) no-repeat 0 0;
    color:#fff;
    font-size:12px
}
.pop-nav dd{
    background:#fff;
    border-width:1px 1px 0;
    border-color:#f1f1f1 #dfdfdf;
    border-style:solid;
    box-shadow:0 1px 1px #dfdfdf
}
.pop-nav dd a:link,.pop-nav dd a:visited,.pop-nav dd a:active{
    display:block;
    height:28px;
    line-height:28px;
    *line-height:30px;
    color:#666;
    overflow:hidden
}
.pop-nav dd a:hover{
    background-color:#fb3c32;
    color:#fff;
    text-decoration:none
}
.pop-nav .back2top{
    padding-left:1em;
    background:url(../images/ico_arrow.png) no-repeat 10px 9px
}
.cont_null,.video_null,.view_null{
    display:block;
    width:315px;
    height:60px;
    margin:20px auto
}
.cont_null{
    background:url(../images/cont_null.png) no-repeat 0 0
}
.video_null{
    background:url(../images/video_null.png) no-repeat 0 0
}
.view_null{
    width:216px;
    background:url(../images/view_null.png) no-repeat 0 center
}
.map_null{
    display:block;
    height:110px;
    margin-bottom:10px;
    background:#f5f5f5 url(../images/map_null.png) no-repeat center center
}
.feed-rm{
    height:18px;
    line-height:18px;
    margin-bottom:10px;
    padding:8px 15px;
    background:#f2f2f2;
    color:#666
}
.repErrCon{
    margin:5px 15px
}
.repErrCon .special{
    color:#999
}
.repErrCon textarea{
    height:100px;
    width:440px
}
.repErrCon .button{
    background:url("images/spr_biz.png") no-repeat scroll -126px 0 transparent;
    border:medium none;
    height:22px;
    line-height:20px;
    margin-right:10px;
    text-align:center;
    width:64px
}
.panel-gz-dlg{
    padding:20px;
    line-height:30px;
    font-size:12px
}
.panel-gz-dlg #submit_btn{
    margin-right:25px
}
.panel-gz-dlg .checkbox{
    display:block;
    margin:6px 5px 0 0;
    float:left;
    *margin:2px 0 0 0
}
.panel-gz-dlg #gz_form ul{
    display:block;
    list-style:none;
    overflow:auto;
    *zoom:1
}
.panel-gz-dlg #gz_form ul li{
    float:left;
    width:95px;
    *width:90px;
    height:25px;
    line-height:25px
}
.panel-gz-dlg #gz_form #mail_box{
    width:210px;
    position:relative
}
.panel-gz-dlg #gz_form #my_mail{
    position:absolute;
    right:0;
    top:2px
}
.panel-gz-dlg #gz_form #btns{
    text-align:center
}
.panel-gz-dlg #gz_form #tips{
    color:#aaa;
    height:35px;
    line-height:35px
}
.panel-gz-dlg #gz_form .btn{
    padding:2px 5px 0;
    text-align:center
}
* html .panel-t1 .panel-content{
    position:static
}
.panel-mobile-sand{
    margin:0 15px
}
.panel-mobile-sand h4{
    margin:5px 0;
    padding:5px 15px;
    border-bottom:2px solid #eee;
    color:#666
}
.panel-mobile-sand .sms-content{
    background:#eee;
    word-break:break-all;
    word-wrap:break-word;
    padding:10px;
    margin-bottom:10px
}
.panel-mobile-sand ul{
    padding-bottom:15px
}
.panel-mobile-sand li{
    position:relative;
    margin-bottom:10px;
    *zoom:1
}
.panel-mobile-sand li:after{
    content:'.';
    display:block;
    height:0;
    clear:both;
    overflow:hidden;
    visibility:hidden
}
.panel-mobile-sand li .k{
    float:left;
    line-height:23px;
    color:#666
}
.panel-mobile-sand li .v{
    float:left
}
.panel-mobile-sand li input{
    padding:2px 3px 2px 1px;
    margin-right:5px
}
.panel-mobile-sand li .safecode{
    width:50px;
    text-align:center
}
.panel-mobile-sand li .safecode-img{
    float:left;
    margin-top:-7px
}
.panel-mobile-sand li .safecode-img img{
    vertical-align:middle
}
.panel-mobile-sand .btn{
    padding:0 0 15px;
    text-align:center
}
.panel-mobile-sand .btn button{
    padding:5px 10px;
    *padding-bottom:3px;
    text-align:center;
    cursor:pointer
}
.panel-mobile-sand em.error{
    white-space:nowrap
}
.panel-mobile-sand .coupon-vcode em{
    position:absolute;
    left:0;
    top:30px
}
.panel-copy-url{
    padding-bottom:15px
}
.panel-sand-impression{
    margin:5px 15px
}
.panel-sand-impression .text{
    margin-right:15px
}
.panel-sand-impression em{
    color:#666
}
.panel-sand-impression .btn{
    margin-top:16px;
    text-align:center;
    font-size:14px
}
.panel-sand-impression .btn button{
    *padding-left:18px;
    *padding-right:18px
}
#video_tips{
    color:gray
}
#video_items .item{
    padding:5px 5px;
    border-top:dashed #dcdcdc 1px
}
#video_items .item p{
    padding:5px 0
}
#video_items .video_title input{
    width:202px
}
#video_items .video_url input{
    width:275px
}
.howto-get{
    text-align:right;
    padding-top:5px;
    padding-right:20px;
    padding-bottom:5px
}
#add_video{
    padding-left:16px;
    background:url("images/add.png") no-repeat;
    cursor:pointer
}
#video_items .minus{
    width:16px;
    height:16px;
    display:inline-block;
    background:url("images/minus.png") no-repeat;
    cursor:pointer
}
#video_items .deleted{
    display:none
}
#video_btn{
    width:150px;
    margin:20px auto;
    text-align:center
}
#video_btn .button{
    padding:3px 5px;
    cursor:pointer
}
#swf_album_more{
    position:absolute;
    top:0;
    left:0;
    z-index:200;
    overflow:hidden
}
.share-container label{
    float:left
}
.con-notice{
    background:#fdffea;
    border:1px solid #ffe067;
    color:#333;
    display:block;
    font-size:12px;
    line-height:20px;
    padding:6px;
    text-align:left;
    margin:-1px
}
.con-notice span{
    float:right;
    font-size:18px;
    cursor:pointer
}
#footer .copyright{
    text-align:center;
    background-color:#e5e5e5
}
.panel-map{
    margin:11px 13px
}
.panel-map-info{
    border-top:1px solid #ccc;
    font-size:14px;
    padding:10px 16px
}
.panel-map-info h4{
    font-size:14px;
    padding:8px 0
}
.panel-map-info .tips{
    color:#666;
    font-size:12px;
    padding:5px 0;
    text-align:right
}
.map-shop-name,.map-shop-name:hover{
    cursor:text;
    text-decoration:none
}
.panel-t6 .mb-button{
    padding-top:0;
    *padding-bottom:2px
}
.global-page{
    text-align:center;
    line-height:2!important
}
.global-page a,.global-page span{
    display:inline-block;
    *display:inline;
    *zoom:1;
    color:#3d7a99!important;
    background-color:#f0f0f0;
    padding:0 9px;
    margin-top:20px;
    margin-bottom:20px;
    margin-right:6px;
    text-decoration:none;
    vertical-align:middle;
    font-weight:normal;
    border-radius:0;
    _margin-bottom:1px;
    border:0;
    -webkit-box-shadow:none;
    -moz-box-shadow:none;
    box-shadow:none;
    background-image:none;
    filter:none
}
.global-page a:hover{
    background:#666;
    color:#fff!important;
    text-decoration:none!important;
    filter:none
}
.global-page span{
    color:#999!important;
    background:#f0f0f0
}
.global-page span.global-page-break{
    background:0;
    border:0;
    color:#717171;
    -webkit-box-shadow:none;
    -moz-box-shadow:none;
    box-shadow:none;
    filter:none
}
.global-page span.select{
    font-weight:bold;
    color:#fff!important;
    background:#666;
    -webkit-box-shadow:none;
    -moz-box-shadow:none;
    box-shadow:none;
    border:0;
    filter:none
}
.global-page .global-page-next,.global-page .global-page-previous{
    font-family:tahoma
}
.global-page .global-page-next{
    *height:24px;
    _height:auto;
    *padding-top:2px;
    _padding-top:0;
    overflow:hidden
}
.global-page span.global-page-next{
    background:#f0f0f0;
    color:#bfbfbf
}
.global-page input{
    width:24px;
    text-align:center;
    vertical-align:middle
}
.global-page button{
    font-size:12px;
    vertical-align:middle
}
.introduce .pre{
    width:705px;
    padding:15px 0 0 15px
}
.expshare .bd{
    padding-top:0;
    padding-bottom:35px
}
.feed-share .feed-c{
    position:relative;
    margin:0 15px;
    padding:15px 0 1px 65px;
    background:url(../images/bg_hd_crumb.png) repeat-x 0 bottom;
    *zoom:1
}
.feed-share .avatar{
    position:absolute;
    left:0;
    top:20px;
    width:50px;
    height:50px;
    overflow:hidden
}
.feed-share .fname{
    line-height:24px;
    color:#999;
    *zoom:1
}
.feed-share .fname a{
    color:#999
}
.feed-share .fname strong a{
    font-size:14px;
    color:#136bad
}
.feed-share .comment{
    padding-bottom:10px
}
.feed-share .post-detail{
    position:relative;
    width:100%;
    padding:5px 0 10px;
    word-wrap:break-word;
    word-break:break-all
}
.feed-share .post-detail .txt{
    line-height:22px;
    margin-bottom:5px;
    font-size:14px
}
.feed-share .post-detail .img li{
    float:left;
    width:120px;
    height:120px;
    padding:0 5px 5px 0;
    overflow:hidden;
    text-align:center
}
.feed-share .post-detail .img li a{
    display:table-cell;
    *display:block;
    width:120px;
    height:120px;
    vertical-align:middle;
    *font-size:106px
}
.feed-share .post-detail .img li a img{
    vertical-align:middle
}
.shop-serv .hd{
    height:30px;
    padding:10px 0 0;
    background:0
}
.shop-serv .hd .n{
    display:block;
    width:210px;
    height:30px;
    line-height:30px;
    margin:0 auto;
    background:url(../images/spr_bg_spmod.png) no-repeat 0 0;
    font-size:14px;
    text-align:center
}
.shop-serv .bd{
    padding:0 0 10px
}
.shop-serv .bd ul{
    width:192px;
    margin:0 auto;
    padding:0 0 7px 18px;
    background:url(../images/spr_bg_spmod.png) repeat-y -210px 0;
    overflow:hidden
}
.shop-serv .bd li{
    float:left;
    height:22px;
    line-height:22px;
    *line-height:24px;
    margin:4px 10px 0 0;
    padding-right:8px;
    background:url(../images/spr_bg_spmod.png) no-repeat right 0;
    color:#666;
    *zoom:1
}
.shop-serv .bd li span{
    float:left;
    padding-left:20px;
    background:url(../images/spr_bg_spmod.png) no-repeat -420px 0;
    white-space:nowrap;
    *zoom:1
}
.shop-serv .bd .x1{
    display:block;
    width:210px;
    height:5px;
    margin:0 auto;
    background:url(../images/spr_bg_spmod.png) no-repeat 0 -30px;
    overflow:hidden
}
.shop-serv .bd .btn{
    padding-top:10px
}
.shop-model{
    position:absolute;
    top:320px;
    z-index:20
}
.shop-model-scroll{
    position:fixed;
    _position:absolute
}
.shop-model .bd{
    float:left;
    width:185px;
    padding:15px;
    background:#fff;
    overflow:hidden
}
.shop-model .col{
    padding:10px 0 0;
    margin-top:10px;
    background:url(../images/bg_hd_crumb.png) repeat-x 0 top
}
.shop-model .event-btn a{
    float:left;
    font-weight:bold
}
.shop-model .event-btn .btn-ex-t2{
    margin-right:10px
}
.shop-model .event-btn .btn-ex-t2 span{
    padding:0 45px 0 43px
}
.shop-model .event-btn .btn-ex-t4 span{
    padding:0 15px 0 13px
}
.shop-model .title{
    height:22px;
    line-height:22px
}
.shop-model .title h2{
    float:left
}
.shop-model .title a{
    float:right
}
.shop-model .block{
    margin-top:5px
}
.shop-model .block li{
    line-height:20px;
    padding:2px 0
}
.shop-model .block li input{
    display:inline-block;
    width:14px;
    height:14px;
    margin-right:3px;
    vertical-align:middle
}
.shop-model .block li label{
    cursor:pointer
}
.shop-model .sort-list dd{
    float:left;
    width:88px
}
.shop-model .sort-list .dl1{
    margin-right:9px
}
.shop-model .sort-list .sort-box{
    height:18px;
    line-height:18px;
    padding:6px 0 6px 10px;
    _padding:8px 0 4px 10px;
    margin-bottom:5px;
    background:#c6eafc;
    color:#136bad;
    cursor:move
}
.shop-model .sort-list .disabled{
    background:#eee;
    color:#666;
    cursor:default
}
.shop-model .sort-list .selected{
    background:#6cb9df;
    color:#fff
}
.shop-model .block .sort-list .sort-box input{
    margin:0 0 0 3px
}
.shop-model .toggle{
    float:left;
    margin-top:132px
}
.shop-model .toggle a{
    display:block;
    width:14px;
    85px;
    padding:10px 8px;
    background:#fff;
    font-family:微软雅黑E\8F6F\96C5\9ED1,"STXihei";;
    color:#666
}
.shop-model .toggle a em{
    display:block;
    color:#c1bfbf
}
.shop-model .toggle a:hover{
    background:#666;
    text-decoration:none;
    color:#fff
}
.shop-model .toggle a:hover em{
    color:#fff
}
.sh-mod{
    position:relative;
    z-index:1;
    *zoom:1
}
.modify-box{
    position:absolute;
    top:8px;
    right:16px;
    z-index:10
}
.modify-box a{
    _display:inline;
    float:left;
    height:23px;
    line-height:22px;
    margin-left:1px;
    padding-right:10px;
    background:#6cb9df url(../images/spr_btns_modify.png) no-repeat;
    color:#fff
}
.modify-box a:hover{
    background-color:#3697c7;
    text-decoration:none
}
.modify-box a span{
    margin-left:23px;
    color:#fff
}
.modify-box .btn-ex-modify-up{
    background-position:9px 7px
}
.modify-box .btn-ex-modify-down{
    background-position:9px -23px
}
.modify-box .btn-ex-modify-edit{
    background-position:9px -55px
}
#aside .modify-box{
    top:10px;
    right:10px
}
.shop-map .bd{
    position:relative;
    z-index:2
}
.shop-map .img:after{
    content:'.';
    display:block;
    height:0;
    clear:both;
    overflow:hidden;
    visibility:hidden
}
#hd.unclaimed{
    padding-bottom:0;
    background:0
}
#hd.unclaimed .crumb-bg{
    background:0
}
.unclaimed-general .bd{
    padding:15px
}
.unclaimed-general .img{
    display:none;
    float:left;
    width:300px;
    height:220px;
    margin-right:20px;
    text-align:center
}
.unclaimed-general .attr{
    *float:left;
    color:#666;
    word-wrap:break-word;
    word-break:break-all
}
.unclaimed-general .withimg .img{
    display:block
}
.unclaimed-general .withimg .img span{
    display:table-cell;
    *display:block;
    width:300px;
    height:220px;
    line-height:0;
    vertical-align:middle;
    *font-size:200px
}
.unclaimed-general .withimg .img span img{
    vertical-align:middle
}
.unclaimed-general .withimg .attr{
    margin-left:320px;
    *margin-left:0
}
.unclaimed-general h1{
    margin-bottom:8px;
    color:#fa3c32;
    font:24px FAE8F6F96C59ED1,"STXihei"
}
.unclaimed-general li{
    padding:3px 0
}
.unclaimed-general li a{
    margin-right:12px
}
.unclaimed-general .shop-claim{
    margin-top:15px
}
.unclaimed-general .shop-claim a{
    position:relative;
    top:-4px;
    float:left;
    margin-right:15px
}
.more-claim .bd{
    padding:15px;
    line-height:22px;
    color:#666
}
#aside .shop-elite .bd{
    margin-left:18px;
    margin-right:18px;
    padding:15px 0 0
}
.shop-elite .img{
    width:190px;
    height:143px;
    text-align:center;
    overflow:hidden
}
.shop-elite .img a{
    display:table-cell;
    *display:block;
    width:190px;
    height:143px;
    line-height:0;
    vertical-align:middle;
    *font-size:128px
}
.shop-elite .img a img{
    vertical-align:middle
}
.shop-elite .txt{
    padding:5px 0 15px;
    color:#999
}
.shop-elite .txt p{
    width:100%;
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis
}
.con-notice{
    margin:0 0 1px
}
.panel-shop-instor{
    padding:15px
}
.panel-shop-instor .textarea textarea{
    height:132px;
    margin-bottom:7px;
    width:400px
}
.panel-shop-instor em{
    margin-top:5px;
    display:block;
    color:#666
}
.panel-shop-instor .btns{
    display:block;
    font-size:14px;
    padding-top:13px;
    text-align:center
}
.panel-shop-instor .btns button{
    padding:3px 6px;
    cursor:pointer
}
#multi_info_module .unselected .add_multi_info_btn{
    display:none
}
#multi_info_module .selected .add_multi_info_btn{
    display:inline
}
.share-info{
    margin-bottom:8px;
    zoom:1
}
.share-info li{
    background:#f8f8f8;
    padding:6px 0 6px 9px;
    margin-bottom:1px;
    color:#999
}
.share-info .price{
    background:url(../images/ico_sns.png) 0 -534px no-repeat;
    padding-left:20px;
    margin-right:12px;
    color:#333
}
.share-info .price strong{
    color:#e67300;
    margin-right:3px
}
.share-info .value{
    margin-right:12px
}
.share-info .addr{
    display:block;
    width:350px;
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
    background:url(../images/ico_sns.png) 0 -584px no-repeat;
    padding-left:20px
}
.share-info .addr:hover{
    background-position:0 -636px
}
.comment .comment-list li{
    height:auto
}
